a:hover {
    color: #0D225D
}

.navbar-engage .dropdown .dropdown-menu>li.active>a {
    color: #FAB616
}

.navbar-engage .navbar-nav>li>a:hover,
.navbar-engage .navbar-nav>li.active>a,
.navbar-engage .navbar-nav>li.open>a,
.navbar-engage .navbar-nav>.active>a:hover,
.navbar-engage .navbar-nav>.active>a:focus,
.navbar-engage .navbar-nav>.open>a:hover {
    color: #FAB616
}

.navbar-engage .navbar-nav>li a:hover::before,
.navbar-engage .navbar-nav>li.active a::before,
.navbar-engage .navbar-nav>li.open>a::before,
.navbar-engage .navbar-nav>.active>a:focus::before {
    background: #FAB616
}

.navbar-engage .dropdown .dropdown-menu {
    border-color: #FAB616
}

#main-menu>li>a:hover,
#main-menu>li.active>a,
#main-menu>li.open>a,
#main-menu>.active>a:hover,
#main-menu>.active>a:focus,
#main-menu>.open>a:hover {
    color: #FAB616
}

#main-menu .dropdown .dropdown-menu>li.active>a {
    color: #FAB616
}

.open>a {
    color: #FAB616!important
}

.dropdown-item.active {
    background-color: #FAB616
}

.navbar-engage .dropdown .dropdown-menu>li>a:hover,
.navbar-engage .dropdown .dropdown-menu>li>a .active {
    color: #FAB616
}

#main-menu .dropdown .dropdown-menu>li>a:hover,
#main-menu .dropdown .dropdown-menu>li>a:active {
    color: #FAB616
}

.section-title::before {
    border-color: #FAB616
}

.small-title::before {
    border-color: #FAB616
}

.page-header-section {
    background: #FAB616
}

#service-block-main .service-item:hover .icon-wrapper::before {
    background: #0D225D
}

#service-block-main .service-item:hover .icon-wrapper::after {
    background: #0D225D
}

#portfolio .portfolio-items figure figcaption:hover {
    background: rgba(153, 204, 51, .9)
}

#other-services .other-service-item .icon .icon-medium {
    background: #FAB616
}

#other-services .other-service-item:hover .icon-medium {
    background: #666
}

#other-services .other-service-item .service-content h3 {
    color: #FAB616
}

#progress .icon-effect {
    color: #FAB616
}

#clients #clients-scroller .owl-pagination .owl-page.active span {
    background: #FAB616
}

#clients #clients-scroller .owl-pagination .owl-page span {
    border-color: #FAB616
}

#testimonial #testimonial-carousel .carousel-control {
    color: #FAB616
}

#testimonial #testimonial-carousel .carousel-control {
    color: #FAB616
}

#testimonial .item blockquote small {
    color: #FAB616
}

#testimonial .testimonial-inner:before {
    background: rgba(153, 204, 51, .2)
}

#testimonial .rating-star {
    color: #FAB616
}

#blog .blog-item-img .blog-category {
    background: #FAB616
}

#blog .blog-item-img .blog-category {
    background: #FAB616
}

#blog .blog-item-text h3 {
    color: #FAB616
}

#blog .blog-item-text .blog-item-info a:hover {
    color: #FAB616
}

#blog .blog-item-text h3 a:hover {
    color: #FAB616
}

.scroll-top:hover {
    background: #FAB616;
    border-color: #FAB616
}

.skill-wrapper .progress .progress-bar {
    background-color: #FAB616
}

.skill-wrapper .progress .percent {
    color: #FAB616
}

#why-choose .icon i {
    color: #FAB616
}

#why-choose .tab-container h2 {
    color: #FAB616
}

#why-choose .tab-menu .list-group>a.active {
    background: #FAB616
}

#notice .notice-content {
    border-color: #FAB616
}

#service-block-1 .service-item:hover .service-content h2 {
    color: #FAB616
}

#service-block-1 .service-item:hover .icon {
    border-color: #FAB616
}

#service-block-1 .service-item:hover .icon i {
    background: #FAB616
}

#service-block-2 .service-inner:hover i {
    color: #FAB616
}

#service-block-2 .service-inner:hover h3 {
    color: #FAB616
}

#team-block-2 .team-member:hover {
    border-color: #FAB616
}

.pricing-table-1 .table-header {
    background: #FAB616
}

#pricing-block-2 {
    background: #FAB616
}

.pricing-table-x .plan .price {
    color: #FAB616
}

.pricing-table-x .plan .period {
    color: rgba(153, 204, 51, .7)
}

.panel-default .panel-heading a {
    background: #FAB616
}

#blog-page .sidebar .search-box .form-control:focus,
#blog-page .sidebar .search-box button:focus,
#blog-page .sidebar .search-box input:focus,
#blog-page .sidebar .search-box textarea:focus {
    border-color: #FAB616
}

#blog-page .sidebar .plain-search-btn {
    color: #FAB616
}

#blog-page .post-content .reading::after {
    border-color: #FAB616
}

.light li a {
    color: #FAB616
}

#blog-page .widget-title::before {
    border-color: #FAB616
}

.flat li a i {
    background: #FAB616;
    border-color: #FAB616
}

#tabs .tabs-style-2 .nav-tabs li.active a,
#tabs .tabs-style-2 .nav-tabs li.active a:hover,
#tabs .tabs-style-2 .nav-tabs li.active a:focus,
#tabs .tabs-style-2 .nav-tabs li a:hover {
    border-color: #FAB616;
    background-color: #FAB616
}

#tabs .tabs-style-2 .nav-tabs {
    border-color: #FAB616
}

#contact .contact-info-wrapper .contact-item-wrapper i {
    background: #FAB616
}

.preset-bg {
    background: #FAB616
}

.dark-bg {
    background: rgba(0, 0, 0, .1)
}

.btn-danger {
    background-color: #FAB616;
    border-color: #FAB616
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    background-color: #90bf34;
    border-color: #90bf34
}

.page-header .page-header-inner:before {
    background-color: #90bf34;
    opacity: .2
}

.slicknav_btn {
    border-color: #FAB616
}

.slicknav_btn:hover {
    background: #FAB616
}

.slicknav_nav a:hover,
.slicknav_open .active {
    color: #FAB616
}

.slicknav_btn {
    background: #FAB616
}

.tparrows.preview2:hover:after {
    color: #FAB616
}

#default-tab .nav-tabs>li>a.active,
#default-tab .nav-tabs>li a.active:focus,
#default-tab .nav-tabs>li a.active:hover {
    color: #FAB616
}

#default-tab ul.nav-tabs>li a.active::before {
    background-color: #FAB616
}

#round-tab ul li a.active {
    color: #fff;
    background: #FAB616;
    border-radius: 4px
}

#vertical-tab ul.nav-tabs li a.active {
    border-bottom: 3px solid #FAB616
}

#vertical-tab ul.nav-tabs li a.active>.fa {
    color: #FAB616
}

#tab-with-icon .nav-tabs li a:hover i,
#tab-with-icon .nav-tabs li a:focus,
#tab-with-icon .nav-tabs li a.active i {
    background: #FAB616 none repeat scroll 0 0
}

.btn-outline {
    border-color: #FAB616;
    color: #FAB616
}

.btn-outline:hover {
    background: #FAB616
}

.progress-bar {
    background: #FAB616
}

#testimonial .testimonial-footer {
    color: #FAB616
}

#testimonial .owl-pagination .owl-page span {
    border: 1px solid #FAB616
}

#testimonial .owl-pagination .owl-page.active span {
    background: #FAB616 none repeat scroll 0 0
}

#testimonial .testimonial-footer a {
    color: #FAB616
}

#single-testimonial-item .testimonial-footer a {
    color: #FAB616
}

#single-testimonial-item .owl-pagination .owl-page.active span {
    background: #FAB616 none repeat scroll 0 0
}

#single-testimonial-item .owl-pagination .owl-page span {
    border: 1px solid #FAB616
}

#color-client-scroller .client-item-wrapper {
    background: #FAB616 none repeat scroll 0 0
}

#clients .client-item-wrapper:hover {
    border-color: #FAB616
}

i.icon-default {
    color: #FAB616
}

i.icon-round {
    background-color: #0D225D
}

i.icon-round-border {
    border: 3px solid #FAB616;
    color: #FAB616
}

i.icon-box {
    background-color: #FAB616
}

i.icon-box-border {
    border: 3px solid #FAB616;
    color: #FAB616
}

.blog-post-footer ul li a {
    border: 1px solid #FAB616;
    color: #FAB616
}

.blog-post-footer ul li a:hover {
    background: #FAB616 none repeat scroll 0 0;
    border: 1px solid #FAB616
}

.blog-post-content blockquote.blockquote {
    border-left: 5px solid #FAB616
}

.blog-pagination nav ul.pagination li.page-item.active a,
.blog-pagination nav ul.pagination li.page-item a:hover,
.blog-pagination nav ul.pagination li.page-item a:focus {
    background: #FAB616 none repeat scroll 0 0;
    border: 1px solid #FAB616
}

.form-control:focus {
    border-color: #FAB616
}

h2.widget-title {
    color: #FAB616
}

.widget.tag-cloud a {
    background: #FAB616
}

.sidebar-area .search-bar button i.fa {
    color: #FAB616
}

.contact-title-text h2 {
    color: #FAB616
}

.roof-menu ul li.active a {
    color: #FAB616
}

.roof-social-icons a i.fa:hover {
    background: #FAB616
}

.service2-single-service .fa {
    background: #FAB616 none repeat scroll 0 0
}

.form-control:focus {
    border-color: #FAB616
}

.btn-common {
    background: #FAB616 none repeat scroll 0 0
}

.btn-common::before {
    background: #7aa427 none repeat scroll 0 0
}

.back-to-top i {
    background-color: #FAB616
}

#carousel-area .carousel-item .carousel-caption {
    color: #FAB616
}

.top_search_icon {
    color: #FAB616
}

#carousel-area .carousel-indicators li:hover,
#carousel-area .carousel-indicators li.active {
    background: #FAB616 none repeat scroll 0 0
}

.service-item .icon-wrapper i {
    color: #FAB616
}

.split .details-list h3 {
    color: #FAB616
}

#other-services .nav-tabs li a:hover i,
#other-services .nav-tabs li a:focus,
#other-services .nav-tabs li a.active i {
    background: #FAB616 none repeat scroll 0 0
}

.btn-common.active {
    background: #7aa427 none repeat scroll 0 0
}

.sup-desc-wrap .sup-link .left-link,
.sup-desc-wrap .sup-link .right-link {
    background: #FAB616 none repeat scroll 0 0;
    border: 1px solid #FAB616
}

.featured-box .featured-icon i {
    color: #FAB616
}

#team .team-item figure figcaption .orange-line {
    background: #FAB616 none repeat scroll 0 0
}

#team .team-item .social .facebook,
#team .team-item .social .twitter,
#team .team-item .social .google-plus {
    background: #FAB616 none repeat scroll 0 0;
    border: 1px solid #FAB616
}

.orange-line {
    background: #FAB616 none repeat scroll 0 0
}

#cool-facts .fact-count h3 {
    color: #FAB616
}

#testimonial .testimonial-inner:hover {
    border-color: #FAB616
}

#blog .blog-item-text .blog-one-footer i {
    color: #FAB616
}

#blog .blog-item-text .blog-one-footer a:hover {
    color: #FAB616
}

.portfolio-meta ul li span {
    color: #FAB616
}

#main-menu ul .dropdown .dropdown-menu .dropdown-item.active,
#main-menu ul .dropdown .dropdown-menu .dropdown-item.active:focus,
#main-menu ul .dropdown .dropdown-menu .dropdown-item.active:hover {
    background-color: #FAB616;
    color: #fff
}

.navbar li.active .nav-link {
    color: #FAB616!important
}

#main-menu .nav-link:hover {
    color: #FAB616
}

.sup-desc-wrap .sup-link a:hover {
    color: #FAB616
}

#team .team-item .social a:hover {
    color: #FAB616
}

#main-menu ul .dropdown .dropdown-menu a:hover,
#main-menu .dropdown .dropdown-menu a .active {
    color: #FAB616
}

.top_search_con input:focus {
    border: 1px solid #FAB616
}

footer .image-list .post-content .meta {
    color: #FAB616
}

footer .footer-widget form input:focus {
    border-color: #FAB616
}

.about-2 .about-inner .icon i {
    color: #FAB616
}

.feature-item .icon i {
    color: #FAB616
}

.footer-area .address li a i {
    color: #FAB616
}

.footer-area .address li a:hover {
    color: #FAB616
}

.owl-carousel button.owl-dot.active span,
.owl-carousel button.owl-dot.clickable,
.owl-carousel button.owl-dot:hover span {
    background: #FAB616
}