CARGA DE LA PAGINA #contenedor_carga {
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
}

#carga {
    border: 15px solid #ccc;
    border-top-color: #f4266a;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.skin-blue .main-header .navbar {
    background-color: rgb(16, 24, 97);
}

.skin-blue .main-header .logo {
    background-color: rgb(16, 24, 97);
}

.skin-blue .main-header .logo:hover {
    background-color: rgb(16, 24, 97);
}

.containerUser {
    /*height: 100%;*/
    width: 100%;
    padding: 5%;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    /* box-shadow:1px 1px #888888;*/
}

.containerProfile {
    height: 1000%;
    width: 94%;
    display: flex;
    padding: 5%;
    background: rgb(255, 255, 255);
    border-radius: 6px;
}

/*CONTAINER CHANGE IMAGE*/

#imgSalida {
    margin-left: 25%;
    margin-top: 8px;
}

/*CONTENEDOR DE ITEMS*/

.containerUser::before {
    display: none;
}

.card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    border-radius: 5%;
    text-align: center;
}

.card > i {
    width: 60px;
    height: 60px;
    background: rgb(255, 204, 0);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}

.text-profile {
    font-size: 1.5rem;
    margin: 4px;
}

.content-wrapper {
    padding-top: 2%;
}

/*CONTENEDOR DE VIDEO*/

.contenedorVideo {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 80%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* FORM PROFILE */

.card-profile {
    background: rgba(224, 228, 239, 0.2);
    padding-bottom: 2%;
}

.msj {
    margin-left: 0em;
}

.subtitle {
    margin-bottom: 4%;
    padding-left: 10px;
    padding-top: 10px;
}

.section-left {
    padding: 0;
    width: 300px;
    float: left;
    position: relative;
    min-height: 1px;
}

.section-right {
    float: left;
    position: relative;
}

.box-img {
    padding: 0 38px;
    width: 100%;
    margin-bottom: 15px;
}

.userpic {
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 7.5px;
}

.userpic > i {
    position: absolute;
    font-size: 2.3em;
    right: 6%;
    bottom: 80%;
    color: white;
    background: rgba(64, 64, 64, 0.5);
    cursor: pointer;
}

.userpic > i:hover {
    background: rgba(64, 64, 64, 0.9);
}

.sombra-der {
    border: solid 1px #979797;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    /* webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, .1); */
    -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
}

.userpic img {
    width: 100%;
}

.img-responsive,
.img-thumbnail,
.table,
label {
    max-width: 100%;
}

#formPerfil .section-right .row {
    margin-right: 0 !important;
}

.box-dato {
    padding-left: 28px;
    padding-right: 21px;
    text-align: left;
}

label {
    font-weight: 400;
}

.marginb-24 {
    margin-bottom: 24px;
}

.input-format {
    width: 100%;
    height: 41px;
    border: none;
    border: 1px solid #d8d8d8;
    border-radius: 4px !important;
    background-color: #fff !important;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1) !important;
    padding-left: 10px;
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: #555 !important;
    font-weight: 400;
}

.form-control {
    outline: 0 !important;
}

.HideIdiomasUser,
#addLenguage {
}

.addLenguage {
    text-align: center;
}

.btn-delete {
    margin-top: 4.6%;
}

.asterisco {
    color: red;
    font-weight: bold;
}

/*MEDIA QUERYS*/

@media only screen and (max-width: 1172px) {
    .btn-delete {
        text-align: center;
        margin-bottom: 4%;
    }
    .section-right {
        width: 100%;
    }
}
