    @charset "UTF-8";
    /*@import "https://fonts.googleapis.com/css?family=Open+Sans|Poppins:500,700";
    @font-face{
        font-family:D-DIN;
        src:url(programas\administrador\assets\font-awesome\fonts\D-DIN.otf);
    }*/
    @font-face{
        font-family: 'titulo';
        src: url('https://universidades-rusia.com/programas/fonts/webfonts/BT.ttf');
    }
    #exampleModalLongTitle{
        font-family: 'titulo';
    }
    .slide_h3{
        background: rgba(85, 84, 74, 0.4);
        display: inline-block;
        padding: 9px;
    }
    body {
        font-family: open sans, sans-serif;
        background: #fff;
        font-size: .8rem!important;
        font-weight: 400;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-font-smoothing: subpixel-antialiased;
        color: #000;
        overflow-x: hidden;
        line-height: 25px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }

    .form-control, .dropdown-menu {
        font-size: .8rem!important;
    }

    .roof-menu ul li.active a:hover,
    .roof-menu ul li a:hover {
        opacity: .8
    }

    a {
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

    a:hover {
        color: #a22f30;
        text-decoration: none
    }

    a:focus {
        outline: none;
        text-decoration: none
    }

    ul {
        padding: 0
    }

    ul li {
        margin: 0;
        list-style-type: none
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        /*font-family: poppins, sans-serif;*/
        margin-top: 0;
        font-weight: 600;
        color: #212121;
        margin-bottom: 10px
    }

    .section-title {
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 34px;
        color: #212121;
        line-height: 44px;
        text-align: center;
        margin-bottom: 15px;
        text-transform: uppercase

    }

    .section-subcontent {
        text-align: center;
        padding-bottom: 30px;
    }


    .small-title {
        font-size: 22px;
        position: relative;
        text-align: left
    }

    .big-title {
        font-family: open sans, sans-serif;
        font-size: 60px;
        color: #fff!important;
        text-transform: uppercase
    }

    .medium-title {
        color: #fff;
        font-family: open sans, sans-serif;
        font-size: 22px;
        line-height: 30px;
        font-weight: 500
    }

    .mr {
        margin-right: 10px
    }

    .btn,
    button {
        padding: 8px 30px;
        border-radius: 0;
        font-weight: 400;
        color: #fff;
        font-size: 14px;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        display: inline-block
    }

    .btn:hover,
    button:hover {
        color: #fff;
        carsoer: pointer
    }

    .btn-common {
        color: #fff!important;
        background: #ff5959;
        position: relative;
        border: transparent;
        z-index: 1
    }

    .btn-common:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        z-index: -1;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

    .btn-common:hover:before {
        width: 100%
    }

    .btn-border {
        background: rgba(255, 255, 255, .18);
        border: 2px solid #fff;
        color: #fff
    }

    .btn-border:hover {
        background: rgba(255, 255, 255, .3);
        border: 2px solid #fff;
        color: #fff
    }

    .btn-radius:before {
        border-radius: 5px 0 0 5px
    }

    .btn-round {
        border-radius: 1.5em
    }

    .btn-outline {
        border-width: 2px
    }

    .btn-outline:hover {
        color: #fff;
        border: 2px solid transparent
    }

    .btn.focus,
    .btn:focus {
        box-shadow: none
    }

    .btn-lg {
        padding: 9px 30px;
        font-size: 16px
    }

    .btn-xs {
        font-size: 14px;
        padding: 9px 20px
    }

    .btn-sm {
        padding: 12px 15px
    }

    .btn-md {
        font-size: 15px;
        padding: 12px 25px
    }

    .btn-radius {
        border-radius: 5px
    }

    .loadmore-button .btn {
        padding: 14px 35px
    }

    .bg-dark {
        background: #f5f8fb!important
    }

    .section-padding {
        padding: 110px 0
    }

    .section {
        padding: 80px 0;
        background:#F5F6FA;

    }

    .form-group .help-block {
        color: red
    }

    .media-left {
        padding-right: 10px
    }

    .img-circle {
        border-radius: 50%
    }

    .form-group label {
        /*margin-bottom: 24px*/
    }

    .form-group .radius-input {
        border-radius: 30px;
        height: 45px
    }

    .form-group .flat-input {
        border-radius: 0
    }

    .form-group .form-control {
        background: #fff;
        padding-right: 30px;
        color: #000;
        position: relative;
        box-shadow: none
    }

    .form-group .help-block {
        font-weight: 500
    }

    .label {
        font-weight: 400;
        margin: 0 2px
    }

    .social-links {
        display: inline-block
    }

    .social-links a {
        display: inline-block;
        margin: 0 0 0 5px
    }

    .social-links a i {
        width: 32px;
        height: 32px;
        vertical-align: middle;
        border-radius: 100%;
        line-height: 32px;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

    .social-links a i:hover {
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

    .social-links a .fa-twitter:hover {
        color: #00aced
    }

    .social-links a .fa-facebook:hover {
        color: #3b5998
    }

    .social-links a .fa-google-plus:hover {
        color: #dd4b39
    }

    .social-links a .fa-youtube-play:hover {
        color: #b00
    }

    .social-links a .fa-linkedin:hover {
        color: #007bb6
    }

    li.search {
        position: inherit;
        padding-right: 10px
    }

    li.search .open-search {
        margin-right: 0!important
    }

    li.search .open-search i {
        font-size: 13px
    }

    .navbar-engage .navbar-nav>li.search>a:before {
        display: none
    }

    .full-search {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #333;
        padding: 15px 0;
        z-index: 999
    }

    .full-search input[type=text] {
        outline: medium;
        display: inline-block;
        width: 97%;
        background: 0 0;
        color: #fff;
        font-size: 28px;
        padding: 4px 16px 8px;
        line-height: 39px;
        border-radius: 3px;
        height: auto;
        border: 1px solid #444
    }

    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 9999999
    }

    .loader {
        top: 50%;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        position: relative;
        margin: 0 auto
    }

    #loader-1:before,
    #loader-1:after {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 7px solid transparent;
        border-top-color: #9c3
    }

    #loader-1:before {
        z-index: 100;
        animation: spin 1s infinite
    }

    #loader-1:after {
        border: 7px solid #f2f2f2
    }

    @keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg)
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    .back-to-top {
        display: none;
        position: fixed;
        bottom: 18px;
        right: 15px
    }

    .back-to-top i {
        display: block;
        font-size: 18px;
        width: 36px;
        height: 36px;
        line-height: 36px;
        color: #fff;
        border-radius: 0;
        text-align: center;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out
    }

    .page-header {
        padding: 0;
        margin: 0;
        position: relative;
        background: url(../img/backgrounds/testimonial-bg.jpg);
        min-height: 164px
    }

    .page-header .page-header-inner {
        color: #fff;
        height: 100%;
        padding: 40px 0;
        position: absolute;
        width: 100%
    }

    .page-header .page-header-inner:before {
        background: rgba(231, 76, 60, .2);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        content: "";
        display: block
    }

    .page-header .page-title {
        color: #fff;
        font-size: 44px;
        margin-bottom: 10px!important;
        padding: 15px 0;
        text-align: left
    }

    .page-header .breadcrumb {
        margin: 0;
        padding: 0;
        background: 0 0;
        position: relative;
        z-index: 9
    }

    .page-header .breadcrumb li {
        line-height: 25px
    }

    .page-header .section-title:before {
        width: 40px
    }

    .page-header-section {
        margin-top: 65px;
        background: url(../img/backgrounds/testimonial-bg.jpg);
        width: 100%
    }

    .page-header-area {
        display: table;
        height: 80px;
        width: 100%
    }

    .page-header-content {
        display: table-cell;
        vertical-align: middle
    }

    .page-header-content h2 {
        color: #fff;
        font-size: 36px;
        margin: 0;
        letter-spacing: .5px;
        font-weight: 500
    }

    #loader {
        position: fixed;
        background: #fff;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999999999
    }

    .square-spin {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -40px;
        margin-top: -40px
    }

    .square-spin img {
        max-width: 64px
    }

    .mt-10 {
        margin-top: 10px
    }

    .mt-20 {
        margin-top: 20px
    }

    .mt-30 {
        margin-top: 30px
    }

    .mt-40 {
        margin-top: 40px
    }

    .mt-50 {
        margin-top: 50px
    }

    .mt-80 {
        margin-top: 80px
    }

    .mb-10 {
        margin-bottom: 10px
    }

    .mb-20 {
        margin-bottom: 20px
    }

    .mb-30 {
        margin-bottom: 30px
    }

    .mb-40 {
        margin-bottom: 40px
    }

    .mb-50 {
        margin-bottom: 50pxs
    }

    .dropdown-item.active {
        background-color: #9c3;
        color: #fff
    }

    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: #9c3;
        color: #fff
    }

    .navbar-header {
        position: relative;
        /* padding: 6px 0; */
        float: left;
        margin: 0!important
    }

    .nav-bg {
        background: #0D225D
    }

    .navbar {
        margin-bottom: 0;
        padding: 0 0
    }

    .navbar li {
        color: #666
    }

    .navbar .theme-header {
        width: 100%
    }

    @-webkit-keyframes fadeInUpMenu {
        0% {
            opacity: 0;
            -webkit-transform: translateY(10px)
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0)
        }
    }

    @keyframes fadeInUpMenu {
        0% {
            opacity: 0;
            transform: translateY(10px)
        }
        100% {
            opacity: 1;
            transform: translateY(0)
        }
    }

    .fadeInUpMenu {
        -webkit-animation-name: fadeInUpMenu;
        animation-name: fadeInUpMenu
    }

    .nav-inline .nav-item+.nav-item {
        margin-left: 0
    }

    .navbar li.active .nav-link {
        color: #FAB616!important
    }

    #main-menu ul>li>a {
        color: #ffffff;
        background-color: transparent;
        position: relative;
        padding: 20px 15px;
        text-transform: uppercase;
        font-family: poppins, sans-serif;
        letter-spacing: 1px;
        font-size: .85rem
    }

    #main-menu ul>li>a.a-rsociales {
        color: #ffffff;
        background-color: transparent;
        position: relative;
        padding: 10px 0px;
        text-transform: uppercase;
        font-family: poppins, sans-serif;
        letter-spacing: 1px;
        font-size: .85rem
    }

    #main-menu ul>.dropdown:hover>ul.dropdown-menu {
        display: block;
        webkit-animation: MenuFadeIn 400ms;
        animation: MenuFadeIn 400ms;
        transition: all .3s ease-in-out 0s
    }

    #main-menu ul .dropdown .dropdown-menu {
        padding: 0;
        border-radius: 0;
        left: 0;
        right: 0;
        margin-top: 0;
        width: 230px;
        border: none;
        moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08);
        -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08);
        -o-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08);
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08)
    }

    #main-menu ul .dropdown .dropdown-menu li {
        border-bottom: 1px dotted #e6e6e6
    }

    #main-menu ul .dropdown .dropdown-menu li a {
        font-size: .85rem;
        color: #757575;
        display: block;
        height: auto;
        font-family: poppins, sans-serif;
        text-transform: capitalize;
        padding: 7px 15px;
        font-weight: 400;
        transition: all .3s ease-in-out 0s
    }

    #main-menu ul .dropdown .dropdown-menu li a:hover {
        background: 0 0;
        transition: all .3s ease-in-out 0s
    }

    #main-menu ul .dropdown .dropdown-menu li:last-child {
        border-bottom: none
    }

    #main-menu .dropdown .dropdown-menu a .active {
        background: 0 0;
        transition: all .3s ease-in-out 0s
    }

    #main-menu ul .dropdown .dropdown-menu>li>a:focus,
    #main-menu ul .dropdown .dropdown-menu>li.active>a {
        background: #9c3;
        color: #fff
    }

    #main-menu ul .dropdown .open>a {
        background: 0 0
    }

    #main-menu ul .dropdown .open>a:hover {
        background: 0 0
    }

    #main-menu .dropdown .open>a:focus,
    #main-menu .dropdown .open>a.active {
        background: 0 0
    }

    #main-menu ul .dropdown .sub-menu {
        top: -2px;
        left: 100%!important;
        padding: 0;
        border: none;
        -webkit-animation: MenuFadeIn .4s;
        -moz-animation: MenuFadeIn .4s;
        -ms-animation: MenuFadeIn .4s;
        -o-animation: MenuFadeIn .4s;
        animation: MenuFadeIn .4s
    }

    #main-menu ul .dropdown-toggle::after {
        display: none
    }

    ul li>ul {
        padding: 0;
        border-style: solid;
        border-width: 4px 0 0;
        border-radius: 0;
        left: 0;
        right: 0;
        border-color: transparent
    }

    ul li>ul>li>a {
        color: #666;
        padding: 10px 0 10px 15px
    }

    ul li>ul>li>a:hover,
    ul li>ul>li>a .active {
        background: #ecf0f1
    }

    ul li>ul>li.active>a {
        background: #ecf0f1
    }

    @-webkit-keyframes MenuFadeIn {
        0% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }

    @keyframes MenuFadeIn {
        0% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }

    .top-nav-collapse {
        background: #0D225D;
        z-index: 9;
        box-shadow: 0 3px 6px 3px rgba(0, 0, 0, .06);
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown
    }

    .top-nav-collapse #main-menu ul>li>a {
        padding: 20px 15px
    }

    .top-nav-collapse #main-menu ul>li>a.a-rsociales {
        padding: 10px 0px
    }

    @media(min-width:768px) and (max-width:991px) {
        #nav-main li a.nav-link {
            padding-top: 18px
        }
    }

    .navbar-toggler {
        display: none
    }

    .navbar-nav .dropdown-menu {
        border: none
    }

    .dropdown-item.active {
        color: #fff!important
    }

    .dropdown-toggle::after {
        display: none
    }

    .slicknav_menu {
        display: none;
        background: #0D225D;
        padding: 2px 15px;
        text-align: left
    }

    .slicknav_brand {
        float: left;
        line-height: inherit;
        padding: 0 0;
        height: auto
    }

    .slicknav_btn {
        margin: 14px 0;
        border-radius: 0;
        background-color: #9c3;
        padding: 8px 9px 7px
    }

    .slicknav_nav {
        overflow: auto;
        max-height: 350px;
        background: #fff;
    }

    .slicknav_menu .slicknav_icon-bar {
        background: #fff
    }

    .slicknav_nav ul {
        margin: 0
    }

    .slicknav_nav a,
    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        color: #212121;
        font-size: 14px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }

    .slicknav_parent ul {
        margin-left: 15px
    }

    .slicknav_parent ul a {
        font-size: 14px;
        text-transform: capitalize;
        border-bottom: 0;
        border-bottom: 1px dotted #e6e6e6;
        font-weight: 400
    }

    .slicknav_nav a:hover a,
    .slicknav_nav a:hover,
    .slicknav_nav .slicknav_row:hover,
    .slicknav_nav .slicknav_item a:hover,
    .slicknav_nav .slicknav_parent-link a:hover {
        background-color: transparent;
        color: #FAB616
    }

    .slicknav_nav .slicknav_arrow {
        float: right;
        color: #444
    }

    .slicknav_nav a h3 {
        font-size: 14px;
        display: inline;
        text-transform: capitalize;
        font-weight: 500
    }

    .slicknav_menu li p {
        display: none
    }

    .sticky-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        z-index: 99;
        background-color: #fff;
        -webkit-animation: slideInDown;
        animation: slideInDown;
        -webkit-animation-duration: .6s;
        animation-duration: .6s;
        -webkit-box-shadow: 0 0 20px -7px rgba(0, 0, 0, .4);
        box-shadow: 0 0 20px -7px rgba(0, 0, 0, .4)
    }

    @media(max-width:991px) {
        .slicknav_menu {
            display: block;
            width: 100%
        }
        .theme-header {
            display: none
        }
        .mobile-menu {
            width: 100%;
        }
        .dropdown-menu {
            position: relative;
            background: 0 0
        }
        .dropdown:hover .dropdown-menu {
            position: relative;
            background: 0 0
        }
        .dropdown .dropdown-menu .dropdown-item {
            border-radius: 0
        }
        .dropdown-menu:before {
            display: none
        }
        .navbar-expand-md .navbar-nav .nav-link {
            padding: 10px 15px;
            line-height: 22px
        }
        .top-nav-collapse .navbar-nav .nav-link {
            color: #444!important
        }
    }

    @media(max-width:767px) {
        .sticky-menu {
            margin: 0
        }
    }

    @media screen and (max-width:768px) {
        .navbar-toggler {
            display: none
        }
    }

    .top_search_con {
        background: #fff;
        height: 38px;
        border-radius: 50px;
        position: relative;
        width: 100%
    }

    .top_search_con input[type=text],
    .top_search_con input:focus {
        background: 0 0!important;
        border: 1px solid #e4e4e4;
        height: 100%;
        width: 100%;
        padding: 1px 20px 0 40px;
        color: #818b8d;
        font-size: 12px;
        outline: none;
        border-radius: 50px;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out
    }

    .top_search_icon {
        color: #e64a4a;
        font-size: 14px;
        left: 15px;
        position: absolute;
        top: 7px
    }

    .top_search .top_search_submit {
        border: none;
        padding: 0;
        position: absolute;
        width: 20px;
        left: 12px;
        opacity: 0;
        top: 9px
    }

    .split {
        background-color: #f5f8fb
    }

    .split h2.title {
        font-family:sans-serif;
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 10px
    }

    .split .lead {
        font-size: 14px
    }

    .split .details-list {
        margin-top: 20px
    }

    .split .details-list h3 {
        font-size: 16px;
        font-weight: 500
    }

    .about2-intro-image img {
        width: 100%
    }

    .about-2 .content-box {
        margin-top: 15px
    }

    .about-2 .content-box h3 {
        font-size: 30px;
        margin-bottom: 20px
    }

    .about-2 .content-box .btn-wrapper {
        margin-top: 15px
    }

    .about-2 .about-inner {
        margin-bottom: 15px;
        margin-top: 15px
    }

    .about-2 .about-inner .icon {
        float: left;
        width: 80px;
        height: 80px;
        text-align: center
    }

    .about-2 .about-inner .icon i {
        color: #9c3;
        font-size: 40px
    }

    .about-2 .about-inner .about-text {
        margin-left: 80px
    }

    .about-2 .about-inner .about-text h3 {
        font-size: 18px;
        font-weight: 500
    }

    .about-2 .about-inner .about-text p {
        margin-bottom: 10px
    }

    .about-2 .about-inner .about-text .more-btn {
        color: #888
    }

    .about-2 .about-inner .about-text .more-btn:hover {
        color: #9c3
    }

    .cta-section {
        background: url(../img/backgrounds/cta-bg.jpg) scroll center center;
        width: 100%;
        position: relative
    }

    .cta-area {
        display: table;
        width: 100%;
        height: 150px
    }

    .cta-content {
        display: table-cell;
        vertical-align: middle
    }

    .cta-content h2 {
        color: #fff;
        font-size: 38px;
        font-weight: 400;
        line-height: 38px
    }

    .cta-content p {
        color: #fff;
        font-size: 18px;
        line-height: 28px;
        padding-top: 10px
    }

    .cta-content .btn {
        font-size: 16px;
        margin-top: 15px;
        padding: 13px 24px;
        text-transform: uppercase
    }

    #portfolios {
        background: #f5f8fb
    }

    #portfolios .mix {
        padding: 10px;
        display: none;
        overflow: hidden
    }

    .controls {
        text-align: center;
        padding-bottom: 30px
    }

    .controls a:hover {
        cursor: pointer
    }

    #portfolio-list {
        margin-top: 15px;
        display: inline-block
    }

    .portfolio-item {
        padding: 15px;
        background: #fff
    }

    .portfolio-img {
        overflow: hidden;
        display: block;
        position: relative
    }

    .portfolio-img img {
        width: 100%
    }

    .portfoli-content {
        width: 100%;
        position: absolute;
        height: 100%;
        opacity: 0;
        top: 0;
        -webkit-transition: opacity .8s cubic-bezier(.19, 1, .22, 1);
        transition: opacity .8s cubic-bezier(.19, 1, .22, 1)
    }

    .portfoli-content:before {
        background-color: rgba(255, 255, 255, .8);
        top: 15px;
        left: 15px;
        bottom: 15px;
        right: 15px;
        content: '';
        position: absolute;
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
        transform: scale(.8);
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease
    }

    .sup-desc-wrap {
        display: table;
        width: 100%;
        height: 100%
    }

    .sup-desc-wrap .sup-desc-inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        padding: 0 35px
    }

    .sup-desc-wrap .sup-link {
        margin-bottom: 20px
    }

    .sup-desc-wrap .sup-link .left-link,
    .sup-desc-wrap .sup-link .right-link {
        font-size: 14px;
        line-height: normal;
        outline: none;
        border-radius: 50%;
        color: #fff;
        width: 42px;
        height: 42px;
        opacity: 0;
        line-height: 42px;
        text-align: center;
        display: inline-block;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        margin-right: 5px
    }

    .sup-desc-wrap .sup-link .left-link {
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease
    }

    .sup-desc-wrap .sup-link .right-link {
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease
    }

    .sup-desc-wrap .sup-link a:hover {
        background: 0 0
    }

    .sup-desc-wrap .sup-meta-wrap .sup-title {
        display: block;
        outline: none;
        margin-bottom: 10px;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease
    }

    .sup-desc-wrap .sup-meta-wrap .sup-title h4 {
        font-size: 18px;
        color: #000;
        line-height: 22px;
        text-transform: uppercase;
        font-weight: 400
    }

    .sup-desc-wrap .sup-meta-wrap .sup-description {
        font-size: 13px;
        line-height: 18px;
        color: #666;
        text-align: center;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 0;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease
    }

    .portfolio-item:hover .portfoli-content {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    .portfolio-item:hover .portfoli-content:before {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    .portfolio-item:hover .sup-title {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    .portfolio-item:hover .sup-description {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }

    .portfolio-item:hover .sup-link .right-link,
    .portfolio-item:hover .sup-link .left-link {
        opacity: 1;
        webkit-transform: translateY(0px);
        transform: translateY(0px)
    }

    .loadmore-button {
        text-align: center;
        text-transform: uppercase;
        margin-top: 30px;
        color: #000
    }

    .service-item {
        padding: 25px;
        margin: 15px 0;
        background: #fff;
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }

    .service-item:hover {
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        box-shadow: 0 0 35px rgba(0, 0, 0, .3)
    }

    .service-item .row {
        margin-bottom: 10px;
    }

    .service-item .tipo-estu-rama {
        font-family:DIN45,sans-serif;
        line-height: normal;
        font-weight: 500;
        font-size: .75rem;
        color: #333;
        margin-bottom: 4px;
    }

    .service-item h2 {
        font-family: DIN45, sans-serif;
        font-weight: 300;
        line-height: normal;
        font-size: 1.1em;
        color: #111;
        margin-bottom: 6px;
    }

    .service-item h2 span {
        font-family:sans-serif;
        font-weight: 100;
        font-size: .75rem;
        color: #111;
    }

    .service-item a {
        font-family:sans-serif;

        color: #517AB9;
        font-weight: 500;
        font-size: .85rem;
    }

    .service-item a:hover {
        color: #017CFF;
        font-weight: 500;
        font-size: .85rem;
    }

    .service-item a.btn {
        font-family: D-DIN,sans-serif;
        color: #fff;
        font-weight: 500;
        font-size: .85rem;
    }

    .service-item .title {
        color: #A4A9B4;
        font-weight: 500;
        font-size: .85rem;
    }

    .service-item .info {
        font-family:DIN45,sans-serif;
        color: #000;
        font-weight: 500;
        font-size: .85rem;
    }

    .service-item .fa-map-marker-alt {
        color: #CB3C1A;
        font-size: .95rem;
    }

    .service-item .fa-university,.fa-university {
        color: #017CFF;
        font-size: 1.2rem;
    }

    @-webkit-keyframes pulse-shrink {
        to {
            -webkit-transform: scale(.9);
            transform: scale(.9)
        }
    }

    @keyframes pulse-shrink {
        to {
            -webkit-transform: scale(.9);
            -ms-transform: scale(.9);
            transform: scale(.9)
        }
    }

    .pulse-shrink {
        display: inline-block
    }

    .service-item:hover .pulse-shrink {
        -webkit-animation-name: pulse-shrink;
        animation-name: pulse-shrink;
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate
    }

    #other-services {
        background: #fff
    }

    #other-services .nav-tabs {
        border-bottom: none;
        float: left;
        display: table-cell;
        vertical-align: top
    }

    #other-services .nav-tabs li {
        float: none
    }

    #other-services .nav-tabs li a {
        border: none;
        background: 0 0;
        margin: 0;
        padding: 0
    }

    #other-services .nav-tabs li a i {
        background: #81868e;
        font-size: 20px;
        text-align: center;
        color: #fff;
        float: left;
        width: 50px;
        border-radius: 50%;
        height: 50px;
        line-height: 50px;
        margin: 10px 0;
        cursor: pointer;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease
    }

    #other-services .tab-content {
        margin: 10px 0 0 80px
    }

    #other-services .service-content h3 {
        font-size: 17px;
        margin-bottom: 25px
    }

    #other-services .service-content p {
        font-size: 14px
    }

    #other-services .service-content p.lead {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 25px
    }

    #other-services .other-service-item {
        padding-bottom: 30px
    }

    #other-services .other-service-item .icon {
        float: left
    }

    #other-services .other-service-item .icon .icon-medium {
        background: #e74c3c;
        font-size: 24px;
        text-align: center;
        color: #fff;
        float: left;
        width: 70px;
        border-radius: 50%;
        height: 70px;
        line-height: 70px;
        margin: 12px 0;
        cursor: pointer;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease
    }

    #other-services .other-service-item .service-content {
        padding-left: 100px
    }

    #other-services .other-service-item .service-content h3 {
        font-size: 24px;
        clear: inherit
    }

    #other-services .other-service-item .service-content p {
        padding: 0 36px 0 0
    }

    #other-services .other-service-item:hover .icon-medium {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
        -webkit-transition: all .6s linear;
        -moz-transition: all .6s linear;
        -o-transition: all .6s linear;
        transition: all .6s linear;
        background: #666
    }

    #other-services img {
        max-width: 100%;
        padding: 22px
    }

    .service2-single-service {
        text-align: center;
        margin: 20px 0
    }

    .service2-single-service .fa {
        border-radius: 50%;
        color: #fff;
        font-size: 23px;
        height: 75px;
        line-height: 75px;
        margin-bottom: 20px;
        width: 75px
    }

    .service2-single-service h2 {
        font-size: 20px
    }

    .service2-single-service p {
        font-size: 13px
    }

    .featured-box {
        margin-top: 15px;
        margin-bottom: 15px
    }

    .featured-box .featured-icon {
        float: left
    }

    .featured-box .featured-icon i {
        font-size: 40px;
        text-align: center;
        float: left;
        margin-right: 25px;
        margin-bottom: 85px;
        display: block
    }

    .featured-box .featured-content {
        padding-left: 62px
    }

    .featured-box .featured-content h4 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
        transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out
    }

    .featured-box .featured-content p {
        font-size: 13px
    }

    .feature-s .featured-icon i {
        display: inline-block;
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 26px;
        background-color: #f9f9f9;
        border-radius: 50%;
        margin-bottom: 30px
    }

    .feature-item {
        margin: 15px 0;
        position: relative;
        text-align: center;
        background-color: #fff;
        padding: 30px;
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }

    .feature-item:hover {
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        -o-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        box-shadow: 0 0 35px rgba(0, 0, 0, .3)
    }

    .feature-item .icon {
        margin-bottom: 25px
    }

    .feature-item .icon i {
        font-size: 42px;
        color: #9c3
    }

    .feature-item .feature-text {
        position: relative
    }

    .feature-item .feature-text h4 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px
    }

    .feature-item .feature-text p {
        font-size: 13px
    }

    #team .team-item {
        padding: 10px;
        background: #fff;
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }

    #team .team-item:hover {
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        box-shadow: 0 0 35px rgba(0, 0, 0, .3)
    }

    #team .team-item figure {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0
    }

    #team .team-item figure img {
        width: 100%;
        height: auto
    }

    #team .team-item figure figcaption {
        height: 100%;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, .85);
        opacity: 0;
        width: 100%;
        -webkit-transition: opacity .8s cubic-bezier(.19, 1, .22, 1);
        transition: opacity .8s cubic-bezier(.19, 1, .22, 1)
    }

    #team .team-item figure figcaption .details {
        position: absolute;
        top: 15%
    }

    #team .team-item figure figcaption .content-white {
        font-size: 13px;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        line-height: 18px;
        width: 100%;
        padding: 15px;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease
    }

    #team .team-item figure figcaption .orange-line {
        margin: 7px auto 20px;
        width: 0;
        height: 1px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease
    }

    #team .team-item figure:hover figcaption {
        opacity: 1
    }

    #team .team-item figure:hover .orange-line {
        width: 62px
    }

    #team .team-item figure:hover figcaption .content-white,
    #team .team-item figure:hover .social a {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }

    #team .team-item .social {
        text-align: center;
        margin-top: 15px
    }

    #team .team-item .social .facebook,
    #team .team-item .social .twitter,
    #team .team-item .social .google-plus {
        font-size: 14px;
        line-height: normal;
        outline: none;
        border-radius: 50%;
        color: #fff;
        width: 42px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        display: inline-block;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        margin-right: 5px
    }

    #team .team-item .social .facebook {
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease
    }

    #team .team-item .social .twitter {
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease
    }

    #team .team-item .social .google-plus {
        -webkit-transition: all 600ms ease;
        transition: all 600ms ease
    }

    #team .team-item .social a:hover {
        background: 0 0
    }

    #team .info {
        background: #fff;
        padding: 15px 0 1px;
        text-align: center
    }

    #team .info h2 {
        font-size: 18px
    }

    #team .info p {
        font-size: 14px;
        line-height: 22px
    }

    .orange-line {
        margin: 12px auto 6px;
        width: 52px;
        height: 1px
    }

    #team-block-2 .team-member {
        padding-bottom: 15px;
        margin-top: 20px;
        border-bottom: 5px solid transparent;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        transition: all .2s linear;
        background: #666;
        border-bottom: 4px solid transparent
    }

    #team-block-2 .team-member .face {
        position: relative;
        width: 100%;
        overflow: hidden
    }

    #team-block-2 .team-member .face img {
        width: 100%;
        height: auto
    }

    #team-block-2 .team-member .member-info {
        text-align: center;
        padding: 24px
    }

    #team-block-2 .team-member .member-info h3 {
        line-height: 30px;
        font-size: 30px;
        color: #fff
    }

    #team-block-2 .team-member .member-info .position {
        color: #999;
        font-size: 16px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, .5)
    }

    #team-block-2 .team-member .member-info .social-team {
        margin-top: 15px
    }

    #team-block-2 .team-member .member-info .social-team a {
        color: #3d566e;
        margin: 0 4px;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        transition: all .2s linear
    }

    #team-block-2 .team-member .member-info .social-team a i {
        color: #fff;
        padding: 7px;
        background: 0 0;
        font-size: 18px;
        line-height: 28px;
        border: 1px solid #fff;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        transition: all .2s linear
    }

    #team-block-2 .team-member .member-info .desc {
        margin-top: 15px;
        color: #ecf0f1
    }

    #team-block-2 .team-member .member-info .social .fa-facebook:hover {
        background: #3b5998;
        color: #fff
    }

    #team-block-2 .team-member .member-info .social .fa-twitter:hover {
        background: #00cafb;
        color: #fff
    }

    #team-block-2 .team-member .member-info .social .fa-google-plus:hover {
        background: #d23a1d;
        color: #fff
    }

    #team-block-2 .team-member .member-info .social .fa-linkedin:hover {
        background: #007bb6;
        color: #fff
    }

    #team-block-2 .team-member:hover {
        background: #777
    }

    #testimonial {
        background: #fff
    }

    #testimonial .testimonial-inner {
        padding: 15px 20px;
        margin: 15px;
        position: relative;
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        -o-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        border-bottom: 5px solid transparent;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }

    #testimonial .testimonial-inner:hover {
        border-color: #9c3;
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        -o-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        box-shadow: 0 0 35px rgba(0, 0, 0, .3)
    }

    #testimonial .testimonial-inner p {
        line-height: 25px;
        margin-bottom: 0
    }

    #testimonial .testimonial-images img {
        width: 65px;
        height: 65px;
        border-radius: 100%;
        border: 3px solid #f1f1f1;
        box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        overflow: hidden;
        margin-bottom: 10px
    }

    #testimonial .testimonial-images h4 {
        font-size: 14px;
        font-weight: 500;
        margin: 5px 0
    }

    #testimonial .testimonial-images h4 a {
        font-size: 12px;
        margin-left: 3px;
        font-weight: 400
    }

    #testimonial .rating-star {
        margin-bottom: 5px;
        color: #9c3
    }

    #testimonial .owl-carousel .owl-wrapper-outer {
        padding: 30px 0 20px!important
    }

    #testimonial .owl-pagination {
        margin-top: 30px
    }

    #testimonial .owl-pagination .owl-page span {
        border-radius: 4px;
        width: 8px;
        height: 8px;
        background: 0 0;
        opacity: .5
    }

    #testimonial .owl-pagination .owl-page.active span {
        opacity: 1
    }

    #testimonial-dark .testimonial-inner {
        background: #f5f8fb;
        box-shadow: none;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }

    #testimonial-dark .testimonial-inner:hover {
        box-shadow: none
    }

    #testimonial-dark .testimonial-images img {
        box-shadow: 0 0 3px #fff
    }

    #testimonial-dark .testimonial-content {
        margin-bottom: 10px
    }

    .single-testimonial-area {
        position: relative;
        width: 100%;
        background: url(../img/shortcode/testimonial/single-testimonial-bg.jpg);
        padding: 100px 0
    }

    .single-testimonial-area:before {
        background: rgba(51, 51, 51, .5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        content: "";
        display: block
    }

    .single-testimonial-area h3 {
        color: #fff;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase
    }

    .single-testimonial-area p {
        color: #fff;
        text-align: center
    }

    #single-testimonial-item .testimonial-inner {
        padding: 80px;
        position: relative
    }

    #single-testimonial-item .testimonial-inner blockquote {
        color: #fff;
        font-size: 14px;
        position: relative
    }

    #single-testimonial-item .testimonial-images img {
        box-shadow: 0 0 3px #ddd;
        height: 90px;
        margin: 0 auto;
        padding: 5px;
        width: 90px
    }

    #single-testimonial-item .testimonial-footer {
        color: #fff;
        padding-top: 15px
    }

    #single-testimonial-item .testimonial-inner::after {
        background: rgba(51, 51, 51, .6) none repeat scroll 0 0;
        border-radius: 5px;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
        border: 1px solid #ddd
    }

    .testimonial-footer .fa {
        padding-right: 6px
    }

    .testimonial-footer a {
        padding-left: 5px
    }

    button:focus {
        outline: none!important
    }

    .owl-nav {
        position: relative;
        top: -160px;
        left: 0
    }

    .owl-nav div.owl-prev {
        float: left;
        margin-left: -45px
    }

    .owl-nav div.owl-next {
        float: right!important;
        margin-right: -45px
    }

    .owl-nav div {
        width: 40px;
        height: 40px;
        display: block!important;
        background: #9c3!important;
        text-align: center;
        display: inline-block;
        opacity: 1!important;
        border-radius: 0!important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .18), 0 2px 5px 0 rgba(0, 0, 0, .15);
        transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out
    }

    .owl-nav div i {
        color: #fff;
        font-size: 16px;
        line-height: 40px
    }

    .owl-nav div:hover {
        background: #3ebfea!important;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
    }

    .owl-pagination {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -40px
    }

    .owl-carousel .owl-dots {
        text-align: center;
        margin-top: 20px
    }

    .owl-carousel button.owl-dot {
        display: inline-block;
        zoom: 1;
        display: inline;
        text-align: center
    }

    .owl-carousel button.owl-dot span {
        display: block;
        width: 12px;
        height: 12px;
        margin: 2px 4px;
        filter: alpha(opacity=50);
        opacity: 1;
        border-radius: 30px;
        background: #fff;
        border: 2px solid #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, .2);
        transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out
    }

    .owl-carousel button.owl-dot.active span,
    .owl-carousel button.owl-dot.clickable,
    .owl-carousel button.owl-dot:hover span {
        background: #9c3
    }

    #clients .client-item-wrapper {
        text-align: center;
        border: 1px solid #ddd;
        padding: 30px;
        margin: 0 5px;
        -moz-transition: all .6s ease;
        -webkit-transition: all .6s ease;
        transition: all .6s ease
    }

    #clients #clients-scroller img {
        opacity: .5;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        filter: gray;
        -webkit-filter: gray;
        -moz-transition: all .6s ease;
        -webkit-transition: all .6s ease;
        transition: all .6s ease
    }

    #clients #clients-scroller img:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -webkit-filter: gray;
        -moz-transition: all .6s ease;
        -webkit-transition: all .6s ease;
        transition: all .6s ease;
        opacity: 1
    }

    #clients #clients-scroller .owl-pagination {
        display: none
    }

    #color-client-scroller .client-item-wrapper img {
        filter: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxmaWx0ZXIgaWQ9J2dyYXlzY2FsZSc+PGZlQ29sb3JNYXRyaXggdHlwZT0nbWF0cml4JyB2YWx1ZXM9JzAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAgMCAwIDEgMCcvPjwvZmlsdGVyPjwvc3ZnPiNncmF5c2NhbGU=);
        opacity: .5;
        transition: all .6s ease 0s
    }

    #color-client-scroller .client-item-wrapper img:hover {
        filter: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxmaWx0ZXIgaWQ9J2dyYXlzY2FsZSc+PGZlQ29sb3JNYXRyaXggdHlwZT0nbWF0cml4JyB2YWx1ZXM9JzEgMCAwIDAgMCwgMCAxIDAgMCAwLCAwIDAgMSAwIDAsIDAgMCAwIDEgMCcvPjwvZmlsdGVyPjwvc3ZnPiNncmF5c2NhbGU=);
        opacity: 1;
        transition: all .6s ease 0s
    }

    #blog {
        background: #f5f8fb
    }

    #blog .blog-item-wrapper {
        background: #fff;
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        padding: 15px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }

    #blog .blog-item-wrapper:hover {
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        box-shadow: 0 0 35px rgba(0, 0, 0, .3)
    }

    #blog .blog-item-img {
        position: relative
    }

    #blog .blog-item-img img {
        width: 100%
    }

    #blog .blog-item-text {
        margin-top: 15px
    }

    #blog .blog-item-text h3 {
        font-size: 18px;
        line-height: 30px
    }

    #blog .blog-item-text h3 a {
        color: #555
    }

    #blog .blog-item-text .blog-one-footer {
        padding: 10px 0 0;
        border-top: 1px dashed #ddd
    }

    #blog .blog-item-text .blog-one-footer a {
        font-size: 12px;
        padding-right: 15px;
        color: #999
    }

    #blog .blog-item-text .blog-one-footer i {
        margin-right: 5px
    }

    .blog-post-wrapper {
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid #eee
    }

    .blog-post-wrapper .format-video iframe {
        min-height: 350px;
        width: 100%
    }

    .blog-post-wrapper .format-audio iframe {
        height: 200px;
        width: 100%
    }

    .author-info {
        margin-bottom: 30px
    }

    .author-info .blog-post {
        padding: 20px 0
    }

    .blog-post-content {
        padding: 20px 0
    }

    .tag-posted-in li {
        display: inline-block;
        margin-right: 15px
    }

    .tag-posted-in li a {
        color: #8f8f8f
    }

    .tag-posted-in li i.fa {
        color: #8f8f8f;
        padding-right: 5px
    }

    span.published-time {
        font-size: 12px
    }

    span.published-time i.fa {
        margin-right: 5px
    }

    .featured-wrapper img {
        width: 100%
    }

    .blog-post-content h2.blog-post-title {
        font-size: 26px;
        font-weight: 500;
        line-height: 26px;
        text-transform: capitalize;
        margin-bottom: 20px
    }

    .blog-post-footer ul.post-meta {
        list-style: outside none none;
        margin: 0
    }

    .blog-post-footer ul.post-meta li {
        float: left;
        margin-right: 10px
    }

    .blog-post-footer ul li a {
        background: #fff;
        display: block;
        font-size: 10px;
        line-height: 28px;
        padding: 4px 15px
    }

    .blog-post-footer ul li a:hover {
        color: #fff
    }

    .blog-post-content blockquote.blockquote {
        padding-left: 15px
    }

    .blog-post-content blockquote.blockquote p {
        color: #969595;
        font-size: 16px;
        font-weight: 400
    }

    .blog-post-content blockquote.blockquote a {
        font-size: 15px;
        font-style: italic;
        float: right
    }

    .blog-post-wrapper.format-qoute {
        border: none!important
    }

    .blog-pagination nav ul.pagination li.page-item a {
        border-radius: 0;
        margin-right: 15px!important;
        color: #333
    }

    .blog-pagination nav ul.pagination li.page-item.active a {
        color: #fff
    }

    .blog-pagination nav ul.pagination li.page-item a:hover,
    .blog-pagination nav ul.pagination li.page-item a:focus {
        color: #fff
    }

    .sidebar-area .widget {
        margin-bottom: 30px
    }

    .sidebar-area .search-bar {
        position: relative
    }

    .sidebar-area .search-bar .form-control {
        border-radius: 0;
        color: #333!important;
        font-size: 13px;
        height: 46px
    }

    .sidebar-area .search-bar button {
        background-color: transparent;
        border: 0;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px
    }

    .sidebar-area .search-bar button .fa {
        color: #333
    }

    h2.widget-title {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px
    }

    .widget ul {
        list-style: outside none none;
        padding-left: 0
    }

    .widget.popular-post ul li {
        margin-bottom: 20px
    }

    .widget.popular-post h4 {
        font-size: 15px;
        margin-bottom: 5px
    }

    .category-menu a {
        color: #aaa;
        font-size: 14px;
        transition: all .2s
    }

    .category-menu li {
        border-bottom: 1px solid #eee;
        padding: 10px 0
    }

    .widget.tag-cloud li {
        float: left;
        margin-bottom: 5px;
        margin-right: 5px
    }

    .widget.tag-cloud a {
        color: #fff;
        display: block;
        font-size: 10px;
        font-weight: 400;
        line-height: 28px;
        padding: 0 11px;
        transition: all .3ms ease-in-out
    }

    .widget.tag-cloud a:hover {
        opacity: .8;
        transition: all .3ms ease-in-out
    }

    .widget.subscribe-widget .form-control {
        font-size: 14px;
        height: 42px;
        padding: 10px;
        width: 255px
    }

    .widget-ad img {
        width: 100%
    }

    .blog-post blockquote {
        margin: 40px 0
    }

    .blog-post h3 {
        margin-top: 30px
    }

    .blog-post>p {
        line-height: 29px
    }

    .blog-post ul li,
    .blog-post ol li {
        font-size: 15px;
        padding: 6px 0;
        font-weight: 400
    }

    .blog-post img {
        width: 100%
    }

    .blog-post pre {
        background: #eee none repeat scroll 0 0;
        margin: 20px 0
    }

    .comments-area .media.reply {
        background: #e5f7fd none repeat scroll 0 0;
        padding: 20px;
        border-radius: 4px
    }

    .blog-pagination {
        text-align: center
    }

    .comments-area ul {
        padding-left: 0
    }

    .comments-area .media {
        margin-top: 40px
    }

    .comments-area .media-body {
        padding-left: 10px
    }

    .comment-author span {
        padding-left: 5px
    }

    .new-comment .form-group .form-control {
        background: #f2f2f2 none repeat scroll 0 0;
        border-radius: 0;
        color: #333!important;
        font-size: 15px;
        padding: 12px
    }

    #content {
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 600px
    }

    #contact .contact-info-wrapper {
        margin-top: -60px
    }

    #contact .contact-info-wrapper .contact-item-wrapper i {
        padding: 15px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        color: #fff
    }

    #contact .map {
        position: relative
    }

    #contact .contact-info {
        background: #666;
        color: #fff;
        padding: 30px 0
    }

    #contact .contact-form-wrapper {
        background: url(../img/backgrounds/contact-form-bg.jpg);
        background-size: cover
    }

    #contact .form-control {
        margin-bottom: 45px;
        background: 0 0;
        color: #fff
    }

    .form-control:focus {
        box-shadow: none
    }

    #contact2 .contact-info-wrapper {
        margin-top: -10px
    }

    #contact2 .contact-info-wrapper .contact-item-wrapper {
        padding: 15px 30px
    }

    #contact2 .contact-info-wrapper .contact-item-wrapper i {
        color: #fff;
        float: left;
        padding: 8px 15px;
        font-size: 24px
    }

    #contact2 .contact-info-wrapper .contact-item-wrapper h4 {
        line-height: 40px;
        color: #fff;
        font-size: 16px;
        font-weight: 400
    }

    #contact2 .form-control {
        margin-bottom: 30px
    }

    #subscription .subscription-form .form-control {
        height: 60px;
        font-size: 24px;
        color: #999
    }

    #subscription .subscription-form .btn {
        padding: 18px
    }

    #google-map-shortcode {
        padding: 0;
        height: 400px
    }

    #google-map-contact {
        padding: 0;
        height: 300px
    }

    #google-map-contact2 {
        padding: 0;
        height: 200px
    }

    .error-section h1 {
        color: #ff2a40;
        font-size: 10rem
    }

    .error-section h4 {
        text-transform: capitalize
    }

    .contact-title-text h2 {
        font-size: 40px
    }

    .contact-title-text p {
        font-size: 18px;
        margin-top: 15px
    }

    .contact-widget {
        margin-bottom: 30px
    }

    .contact-widget h2 {
        font-size: 25px;
        margin-bottom: 20px
    }

    .contact-widget address {
        line-height: 45px
    }

    .contact-widget.office-location span {
        font-weight: 500
    }

    #contactForm .form-group {
        margin-bottom: 19px
    }

    #contactForm .form-group .contact-control {
        background: #f8fafd;
        border-radius: 0;
        height: 50px
    }

    #contactForm .form-group .form-control {
        border-radius: 0;
        background: #f2f2f2;
        font-size: 14px
    }

    ul.contact-info2 {
        list-style: outside none none;
        margin-top: 20px;
        padding: 0
    }

    ul.contact-info2 i.fa {
        margin-right: 10px
    }

    footer {
        background: #262c37;
        color: #fff
    }

    footer .small-title {
        margin-bottom: 30px;
        color: #fff;
        font-weight: 400
    }

    footer ul {
        padding: 0;
        margin: 0;
        list-style: none
    }

    footer ul li {
        line-height: 25px
    }

    footer ul li a {
        color: #999
    }

    footer ul li i {
        margin-right: 5px
    }

    footer ul li.tweet {
        margin-bottom: 15px
    }

    footer ul li.tweet .fa-twitter {
        padding: 5px;
        color: #fff;
        border-radius: 100%;
        width: 24px;
        height: 24px
    }

    footer ul li.tweet .tweet-date {
        font-size: 12px;
        font-style: italic;
        color: #bdc3c7
    }

    footer .flicker-gallery {
        margin-right: -5px;
        margin-left: -5px
    }

    footer .flicker-gallery a {
        display: inline-block;
        width: 32%;
        font-size: 0;
        padding: 5px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease
    }

    footer .flicker-gallery a:hover {
        opacity: .7
    }

    footer .flicker-gallery a img {
        width: 100%
    }

    footer .image-list {
        padding: 0;
        margin: 0
    }

    footer .image-list li {
        margin-bottom: 15px;
        border-bottom: 1px solid #565656
    }

    footer .image-list li:last-child {
        border-bottom: none
    }

    footer .image-list li .overlay {
        float: left;
        width: 70px;
        height: 60px;
        position: relative;
        overflow: hidden;
        text-align: center
    }

    footer .image-list li .overlay figcaption {
        position: absolute;
        background: rgba(0, 0, 0, .6);
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        opacity: 0;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease
    }

    footer .image-list li .overlay figcaption i {
        color: #fff;
        font-size: 18px
    }

    footer .image-list li .overlay .from-top {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        -webkit-transform: translateY(-80%);
        -ms-transform: translateY(-80%);
        transform: translateY(-80%);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease
    }

    footer .image-list li .overlay:hover figcaption {
        opacity: 1;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease
    }

    footer .image-list li .overlay:hover figcaption .from-top {
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease
    }

    footer .image-list .post-content {
        margin-left: 85px;
        margin-bottom: 10px;
        display: block
    }

    footer .image-list .post-content .post-title {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 14px
    }

    footer .image-list .post-content .post-title a {
        color: #fff
    }

    footer .image-list .post-content .post-title a:hover {
        color: #9c3
    }

    footer .image-list .post-content .meta {
        color: #9c3
    }

    footer .image-list .post-content .meta span {
        color: #999;
        text-transform: uppercase;
        margin-left: 5px;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 10px
    }

    footer .menu {
        padding-left: 0
    }

    footer .menu li {
        float: left;
        width: 50%;
        padding-bottom: 10px
    }

    footer .menu li a {
        color: #fff
    }

    footer .menu li a:hover {
        color: #9c3
    }

    footer .footer-widget form {
        margin-top: 4px;
        position: relative
    }

    footer .footer-widget form input {
        background: 0 0;
        border: 1px solid #858585;
        width: 100%;
        height: 40px;
        border-radius: 0;
        line-height: 40px;
        color: #747474;
        padding: 0 20px
    }

    footer .footer-widget form input:focus {
        border: 1px solid #9c3;
        outline: none
    }

    footer .footer-widget button {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        text-align: center;
        padding: 0;
        height: 40px;
        line-height: 41px;
        display: inline-block;
        background: 0 0;
        border: none;
        outline: none;
        font-size: 15px;
        color: #959595;
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -ms-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s
    }

    footer .footer-widget .flicker-gallery {
        margin-top: 27px
    }

    footer .footer-widget .flicker-gallery h4 {
        font-size: 18px;
        color: #a8a8a8;
        margin: 0 4px 20px
    }

    footer #copyright {
        background: #0D225D
    }

    footer #copyright p {
        text-align: center
    }

    footer #copyright .row {
        padding: 15px 0
    }

    footer #copyright .copyright-text,
    footer #copyright .nav-inline {
        margin-top: 15px
    }

    #copyright ul li.nav-item {
        padding-right: 10px;
        text-transform: capitalize
    }

    .footer-area {
        background: #f5f5f5;
        padding: 60px 0
    }

    .footer-area .footer-titel {
        font-size: 18px;
        color: #212121;
        font-weight: 500;
        padding-bottom: 10px;
        letter-spacing: .5px
    }

    .footer-area .footer-logo {
        margin-bottom: 20px
    }

    .footer-area .textwidget {
        font-size: 14px;
        font-weight: 400;
        line-height: 27px
    }

    .footer-area .textwidget p {
        color: #9e9e9e
    }

    .footer-area .footer-link li {
        margin-bottom: 10px
    }

    .footer-area .footer-link li a {
        color: #9e9e9e;
        font-size: 14px;
        font-weight: 400;
        position: relative
    }

    .footer-area .footer-link li a:before {
        background-color: #fff;
        content: "";
        height: 1px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
        -webkit-transition: .15s all cubic-bezier(.39, .575, .565, 1);
        transition: .15s all cubic-bezier(.39, .575, .565, 1);
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        transition-property: opacity, transform;
        transition-property: opacity, transform, -webkit-transform;
        width: 100%
    }

    .footer-area .footer-link li a:hover {
        color: #9c3
    }

    .footer-area .footer-link li a:hover:before {
        opacity: 1;
        -webkit-transform: translateY(-3px) translateZ(0);
        transform: translateY(-3px) translateZ(0)
    }

    .footer-area .address li {
        margin-bottom: 20px
    }

    .footer-area .address li a {
        color: #9e9e9e;
        font-size: 14px;
        line-height: 30px;
        font-weight: 400
    }

    .footer-area .address li a:hover {
        color: #9c3
    }

    .footer-area .address li a i {
        color: #9c3;
        font-size: 22px;
        width: 32px;
        vertical-align: middle;
        height: 36px;
        text-align: center;
        display: inline-block;
        float: left;
        margin-right: 5px;
        line-height: 32px
    }

    .footer-area #subscribe-form {
        margin-top: 15px
    }

    .footer-area #subscribe-form .form-group {
        position: relative
    }

    .footer-area #subscribe-form .form-group .form-control {
        border-radius: 0;
        padding: 6px 10px
    }

    .footer-area #subscribe-form .form-group .btn-common {
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px 15px;
        border-radius: 0;
        color: #9c3
    }

    .footer-area p {
        color: #9e9e9e
    }

    #copyright {
        padding: 10px 0;
        background: #eee
    }

    #copyright p {
        line-height: 42px;
        color: #9e9e9e;
        text-align: center;
        margin: 0
    }

    #copyright p a {
        color: #9e9e9e
    }

    #copyright p a:hover {
        color: #9c3
    }

    .nav-link {
        padding: 0
    }

    .social-footer {
        margin-top: 7px
    }

    .social-footer a .fa {
        font-size: 14px;
        height: 35px;
        line-height: 35px;
        margin: 4px;
        width: 35px
    }

    .about-author-section {
        border: 1px solid #eee
    }

    .about-author-section .media {
        padding: 20px
    }

    .about-author-section .media .media-body {
        padding-left: 10px
    }

    .about-author-section .media .media-body p {
        line-height: 28px
    }

    .about-author-section .author-footer {
        border-top: 1px solid #eee;
        padding: 20px
    }

    .similar-post img {
        width: 100%
    }

    .similar-post h2 {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        margin-top: 10px
    }

    .similar-post img {
        width: 100%
    }

    .similar-post h2 {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        margin-top: 10px
    }

    .no-pdl {
        padding-left: 0!important
    }

    .wrapper {
        padding-top: 80px
    }

    .panel-default .panel-heading {
        border: medium;
        border-radius: 0;
        outline: medium;
        padding: 0;
        width: 100%
    }

    .panel-default .panel-heading a {
        color: #fff;
        display: inline-block;
        font-weight: 500;
        padding: 12px 35px 12px 15px;
        position: relative;
        text-decoration: none;
        width: 100%;
        font-size: 20px
    }

    .panel-default .panel-heading a i {
        font-size: 22px;
        padding-right: 10px
    }

    .panel-default .panel-heading a::after {
        color: #fff;
        content: "";
        font-family: font awesome;
        font-size: 22px;
        font-weight: 400;
        line-height: 1;
        margin-top: -10px;
        position: absolute;
        right: 15px;
        top: 50%
    }

    .panel-default .panel-heading .collapsed::after {
        content: ""
    }

    .accordionSmall .panel-default .panel-heading a::after {
        content: ""
    }

    .accordionSmall .panel-default .panel-heading .collapsed::after {
        content: ""
    }

    .panel-default .panel-collapse .panel-body {
        background-color: #fafafa;
        padding: 15px
    }

    #accordionRound .panel-default .panel-heading a {
        border-radius: 8px
    }

    .panel-transparent .panel-heading a {
        background: #f5f5f5;
        color: #000
    }

    .alignleft {
        display: inline;
        float: left;
        margin-right: 1.5em
    }

    .panel-image .panel-body img {
        padding-bottom: 1px
    }

    #default-tab ul.nav-tabs {
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: 10px;
        padding-bottom: 5px
    }

    ul.nav-tabs li {
        float: left;
        margin-top: 0
    }

    ul.nav-tabs li a {
        border: medium!important;
        color: #a0a0a0;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 10px;
        padding: 10px 15px
    }

    #default-tab .nav-tabs>li>a.active {
        border: 0;
        position: relative
    }

    #default-tab .nav-tabs>li a.active:focus,
    #default-tab .nav-tabs>li a.active:hover {
        border: 0;
        position: relative
    }

    #default-tab ul.nav-tabs>li a.active::before {
        bottom: -14px;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        width: 100%
    }

    #round-tab ul.nav-tabs {
        margin-bottom: 10px;
        border-bottom: none
    }

    #round-tab ul li a {
        margin-bottom: 0;
        padding: 15px!important;
        text-transform: capitalize
    }

    #round-tab ul li a.active {
        -moz-border-bottom-colors: none!important;
        -moz-border-left-colors: none!important;
        -moz-border-right-colors: none!important;
        -moz-border-top-colors: none!important;
        border-bottom: 0;
        border-image: none!important;
        margin-bottom: 0
    }

    #vertical-tab .nav-tabs {
        display: table-cell;
        vertical-align: top
    }

    #vertical-tab .tab-content {
        display: table-cell;
        vertical-align: top;
        padding: 0 25px
    }

    #vertical-tab .tab-pane p {
        line-height: 25px
    }

    #vertical-tab ul.nav-tabs {
        border: 1px solid #b9b9b9!important;
        padding-right: 0
    }

    #vertical-tab .nav-tabs li {
        float: none;
        margin: 0
    }

    #vertical-tab ul.nav-tabs {
        border: 0
    }

    #vertical-tab ul.nav-tabs li a {
        text-align: center;
        margin: 0;
        padding: 20px 40px;
        white-space: nowrap;
        width: 100%;
        border-radius: 0;
        background: #eee;
        color: #676767;
        border-bottom: 3px solid #b9b9b9!important
    }

    #vertical-tab ul.nav-tabs li a .fa {
        display: block;
        font-size: 27px;
        margin-bottom: 10px;
        text-align: center
    }

    #vertical-tab ul.nav-tabs li a.active {
        background: #fff none repeat scroll 0 0;
        color: #202020
    }

    #tab-with-icon .nav-tabs {
        border-bottom: medium;
        float: left;
        display: table-cell;
        vertical-align: top
    }

    #tab-with-icon .nav-tabs li {
        float: none
    }

    #tab-with-icon .nav-tabs li a {
        background: transparent none repeat scroll 0 0;
        border: medium;
        margin: 0;
        padding: 0
    }

    #tab-with-icon .nav-tabs li a i {
        background: #81868e none repeat scroll 0 0;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        float: left;
        font-size: 25px;
        height: 70px;
        line-height: 70px;
        margin: 0 0 20px;
        text-align: center;
        transition: all .5s ease 0s;
        width: 70px
    }

    #tab-with-icon .tab-content {
        margin: 20px 0 0 100px
    }

    #tab-with-icon h3 {
        font-size: 20px;
        margin-bottom: 25px
    }

    #tab-with-icon p.lead {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 25px
    }

    #default-tab a.nav-link {
        background: 0 0
    }

    #cool-facts {
        width: 100%;
        height: 100%;
        position: relative;
        background-image: url(../img/backgrounds/facts-bg.jpg)
    }

    #cool-facts:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, .8)
    }

    #cool-facts .section-title,
    #cool-facts .section-subcontent {
        color: #fff
    }

    #cool-facts .facts-item {
        text-align: center
    }

    #cool-facts .facts-item i {
        color: #fff;
        font-size: 45px;
        width: 100px;
        height: 100px;
        line-height: 100px;
        border-radius: 50%
    }

    #cool-facts .fact-count h3 {
        color: #9c3;
        font-weight: 500;
        font-size: 40px
    }

    #cool-facts .fact-count h4 {
        color: #fff;
        text-transform: uppercase;
        font-size: 15px
    }

    #notice {
        background: #f5f8fb
    }

    #notice .notice-button {
        margin-top: 30px
    }

    #notice h4 {
        font-size: 40px
    }

    #notice p {
        font-size: 24px;
        color: #999;
        margin-top: 15px
    }

    #notice .notice-content {
        padding: 30px
    }

    .skill p {
        margin-bottom: 10px
    }

    .progress {
        background: #f5f5f5;
        height: 10px;
        margin: 0 0 20px;
        position: relative;
        width: 100%
    }

    .progress-bar {
        float: left;
        height: 100%;
        font-size: 12px;
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all .6s linear;
        -moz-transition: all .6s linear;
        -o-transition: all .6s linear;
        transition: all .6s linear;
        position: relative
    }

    .outline-buttons-area,
    .block-button-area,
    .animated-progress-area {
        background: #fafafa
    }

    .btn .fa {
        padding-right: 5px
    }

    .grey-progress-bar .progress-bar {
        background: #e0e0e0 none repeat scroll 0 0
    }

    .skill-striped .progress-bar {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-size: 40px 40px
    }

    .skill-animated .progress-bar {
        -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes;
        animation: 2s linear 0s normal none infinite running progress-bar-stripes
    }

    i.icon-default {
        font-size: 20px;
        margin-right: 30px;
        vertical-align: middle
    }

    i.icon-round {
        border-radius: 100%;
        color: #fff;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        margin-right: 13px;
        text-align: center;
        vertical-align: middle;
        width: 40px
    }

    i.icon-round-border {
        border-radius: 100%;
        color: #fff;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        margin-right: 13px;
        text-align: center;
        vertical-align: middle;
        width: 40px
    }

    i.icon-box {
        border-radius: 4px;
        color: #fff;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 12px;
        margin-right: 12px;
        text-align: center;
        vertical-align: middle;
        width: 100px
    }

    i.icon-box-border {
        border-radius: 4px;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 12px;
        margin-right: 12px;
        text-align: center;
        vertical-align: middle;
        width: 100px
    }

    i.icon-xs {
        font-size: 16px!important;
        height: 30px!important;
        line-height: 30px!important;
        margin-bottom: 7px!important;
        margin-right: 7px!important;
        width: 30px!important
    }

    i.icon-sm {
        font-size: 27px!important;
        height: 50px!important;
        line-height: 50px!important;
        margin-bottom: 14px!important;
        margin-right: 14px!important;
        width: 50px!important
    }

    i.icon-md {
        font-size: 35px!important;
        height: 75px!important;
        line-height: 75px!important;
        margin-bottom: 14px!important;
        margin-right: 14px!important;
        width: 75px!important
    }

    i.icon-lg {
        font-size: 50px!important;
        height: 100px!important;
        line-height: 100px!important;
        margin-bottom: 13px!important;
        margin-right: 13px!important;
        width: 100px!important
    }

    #image-carousel .item img {
        height: 200px;
        width: 250px
    }

    #pricing {
        background: #f5f8fb
    }

    .pricing-table-1 {
        background: #fff;
        margin: 0 15px
    }

    .pricing-table-1 .table-header {
        padding: 30px 0
    }

    .pricing-table-1 .table-header h3 {
        color: #fff;
        font-size: 24px
    }

    .pricing-table-1 .plan {
        border-bottom: 1px solid rgba(189, 195, 199, .5)
    }

    .pricing-table-1 .plan .price {
        font-size: 24px
    }

    .pricing-table-1 .plan .period {
        font-size: 18px;
        color: #999;
        text-transform: uppercase
    }

    .pricing-table-1 .plan-info {
        margin-top: 30px
    }

    .pricing-table-1 .plan-info p {
        color: #bdc3c7;
        font-size: 16px;
        line-height: 30px
    }

    .pricing-table-1 .button-area {
        padding: 30px 0 45px
    }

    #pricing-block-x {
        background: #ecf0f1
    }

    .pricing-table-x {
        background: #fff;
        padding: 30px;
        text-align: center;
        box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease
    }

    .pricing-table-x:hover {
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        box-shadow: 0 0 35px rgba(0, 0, 0, .3)
    }

    .pricing-table-x .table-header {
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee
    }

    .pricing-table-x .table-header h3 {
        font-size: 20px;
        font-weight: 500
    }

    .pricing-table-x .plan {
        margin: 20px 0
    }

    .pricing-table-x .plan .price {
        font-size: 55px;
        margin-bottom: 0
    }

    .pricing-table-x .plan .price span {
        font-size: 15px
    }

    .pricing-table-x .plan .per {
        font-size: 14px
    }

    .pricing-table-x .plan-info {
        text-align: left;
        overflow: hidden;
        padding: 15px 0
    }

    .pricing-table-x .plan-info ul {
        padding: 0;
        margin-bottom: 0
    }

    .pricing-table-x .plan-info ul li {
        margin-bottom: 15px
    }

    .pricing-table-x .plan-info ul li i {
        float: right;
        font-size: 11px
    }

    .pricing-table-x .plan-info ul li .true {
        color: #9c3
    }

    .pricing-table-x .plan-info ul li .false {
        color: #ec126d
    }

    .pricing-table-x .button-area {
        margin-top: 0
    }

    #pricing .active {
        position: relative;
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        z-index: 2;
        overflow: hidden;
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        box-shadow: 0 0 35px rgba(0, 0, 0, .3)
    }

    .pricing-table2 {
        margin-bottom: 15px
    }

    .single-pricing-2 {
        background: #fff;
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        box-shadow: 0 0 35px rgba(0, 0, 0, .1);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }

    .single-pricing-2:hover {
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        -o-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        box-shadow: 0 0 35px rgba(0, 0, 0, .3)
    }

    .single-pricing-2 .plan-name {
        display: block;
        font-size: 24px;
        line-height: 30px;
        padding: 20px 0
    }

    .single-pricing-2 .plan-name small {
        display: block;
        font-size: 15px;
        margin-top: 15px;
        line-height: normal
    }

    .single-pricing-2 .plan-price {
        background: #9c3;
        color: #fff!important;
        font-size: 48px;
        margin-bottom: 30px;
        padding: 30px 0;
        text-align: center
    }

    .featured .plan-price {
        color: #fff!important;
        background: #ff5959
    }

    .premium .plan-price {
        background: #3498db!important;
        color: #fff!important
    }

    .single-pricing-2 .plan-price {
        font-weight: 500
    }

    .single-pricing-2 .plan-price .currency {
        font-size: 50%;
        left: -.01em;
        top: -.9em
    }

    .single-pricing-2 .plan-price sub {
        font-size: 18px;
    }

    .single-pricing-2 ul {
        background: #fff none repeat scroll 0 0;
        margin-bottom: 0;
        padding: 0
    }

    .single-pricing-2 ul li {
        border-top: 1px dashed #dedede;
        font-weight: 400;
        padding: 12px 29px;
        text-align: center
    }

    .single-pricing-2 ul li:first-child {
        border-top: 0
    }

    .pricing2-button {
        padding: 20px 0;
        text-align: center
    }

    .pricing2-button .btn {
        padding: 12px 55px;
        text-transform: uppercase
    }

    #carousel-area {
        overflow: hidden;
        background: #0D225D;
        padding-top: 64px;
    }

    #carousel-area .carousel-inner .carousel-item {
        opacity: .3;
        width: 100%;
        overflow: hidden;
        transition-property: opacity;
        transition-duration: 1s
    }

    #carousel-area .carousel-inner .active {
        opacity: 1
    }

    #carousel-area .carousel-inner .active.left,
    #carousel-area .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1
    }

    #carousel-area .carousel-inner .next.left,
    #carousel-area .carousel-inner .prev.right {
        opacity: 1;
    }

    #carousel-area .carousel-control {
        z-index: 2;
    }

    #carousel-area .carousel-item img {
        position: relative;
        width: 100%;
    }

    #carousel-area .carousel-item .carousel-caption {
        top: 10%;
        right: 10%;
        left: 10%;
        padding-top: 0;
        text-shadow: none;
    }

    #carousel-area .carousel-item .carousel-caption h2 {
        font-family: poppins, sans-serif;
        font-size: 70px;
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

    #carousel-area .carousel-item .carousel-caption h3 {
        font-family: open sans, sans-serif;
        color: #fff;
        font-size: 24px;
        color: #fff;
        font-weight: 100
    }

    #carousel-area .carousel-item .carousel-caption .btn {
        margin: 30px 15px
    }

    #carousel-area .active {
        opacity: 1
    }

    #carousel-area .active.left,
    #carousel-area .active.right {
        left: 0;
        opacity: 0;
        z-index: 1
    }

    #carousel-area .carousel-control {
        z-index: 10;
        width: 35px;
        height: 55px;
        top: 50%;
        padding: 10px 5px;
        box-shadow: none;
        background: url('https://universidades-rusia.com/programas/images/skin.png');
        text-shadow: none
    }

    #carousel-area .carousel-control-prev-icon {
        left: 5%
    }

    #carousel-area .carousel-control-next-icon {
        right: 5%;
        background-position: -150px 0!important
    }

    #carousel-area .carousel-indicators {
        bottom: 30px
    }

    #carousel-area .carousel-indicators li {
        border-radius: 0;
        width: 32px;
        height: 5px;
        margin: 0 5px;
        background: rgba(253, 254, 255, .8);
        cursor: pointer;
        border: none;
        transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out
    }

    #carousel-area .carousel-indicators li:hover,
    #carousel-area .carousel-indicators li.active {
        opacity: 1
    }

    #carousel-area:hover .carousel-control {
        display: block
    }

    #carousel-area i {
        margin-right: 5px
    }

    #carousel-area .carousel-two .carousel-caption {
        top: 25%;
        left: 12%
    }

    #carousel-area .carousel-two .carousel-caption .btn {
        margin: 30px 0
    }

    #carousel-area .carousel-two h2 {
        font-weight: 700;
        margin-bottom: 15px;
        letter-spacing: 1px;
        text-transform: uppercase
    }

    #carousel-area .carousel-two p {
        color: #fff;
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s
    }

    .hero-area {
        background: #f5f8fb;
        overflow: hidden;
        position: relative
    }

    .hero-area .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #9c3;
        opacity: .7
    }

    .hero-area .contents {
        padding: 150px 0 90px
    }

    .hero-area .contents h2 {
        color: #212121;
        font-size: 52px;
        font-weight: 300;
        margin-bottom: 25px
    }

    .hero-area .contents p {
        color: #666;
        font-size: 14px;
        line-height: 26px
    }

    .hero-area .contents .btn {
        margin-top: 30px;
        text-transform: uppercase
    }

    .hero-area .banner_bottom_btn {
        margin-top: 40px
    }

    .hero-area .banner_bottom_btn i {
        color: #fff;
        font-size: 48px;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

    .hero-area .banner_bottom_btn i:hover {
        color: #9c3
    }

    .intro-img {
        padding: 122px 0 0
    }

    .intro-img img {
        display: block;
        height: auto;
        max-width: 100%
    }

    #error-404 {
        background: #ecf0f1;
        padding: 36px
    }

    #error-404 h1 {
        font-size: 120px
    }

    #error-404 h3 {
        font-size: 40px;
        margin-bottom: 30px
    }

    .single-portfolio-area .single-portfolio-image img {
        width: 100%
    }

    .portfolio-meta ul,
    .portfolio-controls ul {
        list-style: outside none none;
        padding-left: 0
    }

    .portfolio-meta ul li {
        margin: 10px 0
    }

    .portfolio-meta ul li span {
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        width: 130px
    }

    .portfolio-controls ul li a.btn {
        padding: 10px 75px
    }

    .portfolio-controls ul li a.btn i.fa {
        font-size: 37px
    }

    .navbar-brand {
        padding-top: 0px!important;
        padding-bottom: 0px!important;
    }
    .btn-primary {
        color: #fff;
        background-color: #40a2de;
        border: 1px solid transparent !important;
        z-index: 100;
    }
    .btn-primary:hover{
        background-color:rgba(95,194,255);
    }
    .modal{
        z-index: 900000;
    }
    #header-wrap{
        z-index:800000;
    }
    thead tr{
        border-color: 1px solid red;
    }

    #imgUniv{
    width: 70%;
    height: auto;
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
    .paginas{
        padding-left: 5%;
        display:flex;
        margin-top: -8px;
        width:100%;
        height:100%;
    }
    #selPagina{
        margin-left: 10px;
        height:30px;
        width: 70px;
    }

