body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

.div_notificaciones::-webkit-scrollbar {
    -webkit-appearance: none;
}

.div_notificaciones::-webkit-scrollbar:vertical {
    width: 10px;
}

.div_notificaciones::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
    display: none;
}

.div_notificaciones::-webkit-scrollbar:horizontal {
    height: 10px;
}

.div_notificaciones::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.div_notificaciones::-webkit-scrollbar-track {
    border-radius: 10px;
}

.asterisk_red {
    color: red;
    font-weight: bold;
}
.icon_50_50 {
    width: 100%;
    height: 100%;
}

p {
    margin: 10px;
}

#register {
    display: none;
}
.modalLogin-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background: rgb(13, 34, 93);
    color: white;
}

.closeLogin {
    position: absolute;
    right: 20px;
    top: 5%;
    line-height: 0;
    padding: 2px 5px;
    color: white;
}

.modal-title {
    color: white !important;
}

.modal-body2 {
    padding: 0;
    display: flex;
}

.modal-dialog {
    max-width: 900px;
}

.register {
    width: 50%;
}

.bodyForm {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
}

.btn-redes {
    width: 22rem;
    height: auto;
    position: relative;
    color: #fff;
    text-transform: inherit;
    border-radius: 0.2rem;
    font-weight: inherit;
    font-size: 17px;
    margin: 3%;
}

.fb {
    background: #4368ad;
}

.goo {
    background: rgb(255, 92, 98);
}
.reg {
    background: rgb(25, 57, 112);
}
.btnRegistro {
    display: none;
}

.containerLogin,
.containerInfo,
.containerSociales {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoModal {
    margin: 0;
    padding: 0;
    width: 50%;
    height: auto;
    display: block;
    background-color: #f4f4f4;
}
.listInfo {
    display: grid;
    grid-gap: 40px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 8%;
    margin-right: 6%;
}
.contList {
    display: flex;
}
.contList > span {
    font-family: Libre Franklin, sans-serif;
    color: #008eff;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.itemInfo {
    margin-left: 5%;
}
.titleInfo {
    padding-top: 18px;
    font-size: 1.4rem;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    padding: 0.2rem 3rem;
}

.inputLog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3%;
    color: #333;
    width: 21.2rem;
    font-family: Libre Franklin, sans-serif;
    font-weight: inherit;
    border-radius: 0.4rem;
    font-size: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 20px;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: text;
    outline: none;
    height: 46px;
    background: #fff;
    -ms-flex-preferred-size: 100%;
    /* flex-basis: 100%; */
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.login {
    display: none;
}

input[type="text"],
input[type="password"] {
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 2px;
    /* Sadly outline does not round! therefore...*/
}

input[type="text"]:focus,
input[type="password"] {
    border: none;
    outline: none;
    /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 2px orange;
    /* Full freedom. (works also with border-radius) */
}

input[type="submit"] {
    height: 100%;
    width: 21rem;
    padding: 12px 5px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid#0f8bf7;
    color: #0f8bf7;
    font-family: Libre Franklin, sans-serif;
    margin: 3%;
}

input[type="submit"]:hover {
    color: white;
    background: #0f8bf7;
}

.titleLogin {
    color: #000;
    font-family: sans-serif;
    font-weight: 400;
}

.subTitleLogin {
    display: block;
}

.backStart {
    display: none;
    position: relative;
    padding-right: 16.9rem;
    margin-bottom: 18px;
    cursor: pointer;
}

.backStart span {
    padding-left: 10px;
}

@media (max-width: 1020px) {
    .infoModal {
        display: none;
    }
    .register {
        width: 100%;
    }
}
@media (max-width: 526px) {
    .btn-redes {
        width: 18rem;
    }
    .infoModal {
        display: none;
    }
    .inputLog {
        width: 18rem;
    }
}
/* Iconos */
.icon > i {
    width: 60px;
    height: 60px;
    background: rgb(255, 204, 0);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}
/* CHANGE IMAGE*/
label.cabinet {
    display: block;
    text-align: center;
    cursor: pointer;
    position: relative;
}

label.cabinet input.file {
    position: absolute;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    margin-top: -30px;
}

#upload-demo {
    width: 250px;
    height: 250px;
    padding-bottom: 25px;
}

figure figcaption {
    position: absolute;
    bottom: -17px;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}

figure img {
    width: 125px !important;
    height: 125px !important;
    border: 1px solid;
}
.img-thumbnail{
    border-radius: 50%;
}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
/* VIDEO */
/* This is purely for the demo */
.container-video {
    max-width: 800px;
    margin: 0 auto;
}
.plyr {
    border-radius: 4px;
    margin-bottom: 15px;
}
.btnCurso:hover{
    background: rgba(242, 243, 245, 1);
}
/* CHECKBOX */
.container_check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 
  /* Hide the browser's default checkbox */
.container_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: -4px;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_check:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_check input:checked ~ .checkmark {
background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container_check input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container_check .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 12px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}