<template>
    <div>
        <div class="pr-4 pl-4 pt-4 container-fluid">
            <div class="card text-center">
                <div class="card-body" style="font-size: 20px;">
                <h4 class="card-title">Subida Masiva de Costos de vida</h4>
                <div>
                    <b-button variant="outline-primary" @click="descargar_plantilla()">Descargar plantilla</b-button>
                </div>
                </div>
            </div>
        </div>
        <div class="pr-4 pl-4 pt-4 container">
            <b-form @submit="agregarCostos">
                <b-col>
                <b-row>
                    <p class="text-center">Suba el archivo</p>
                </b-row>
                <b-row class="my-1">
                    <b-col sm="2">
                    <label for="input-default">Archivos:</label>
                    </b-col>
                    <b-col sm="10">
                    <!-- Styled -->
                    <!-- <b-form-file accept=".xls,.xslx,.csv,.xlsm,.xlsb"></b-form-file> -->
                    <input
                        type="file"
                        name="file_excel"
                        @change="validarArchivo"
                        accept=".xls, .xslx, .csv, .xlsm, .xlsb"
                    />
                    </b-col>
                </b-row>
                </b-col>
                <b-col class="m-5 text-center">
                <b-button type="submit">Subir Archivo</b-button>
                </b-col>
            </b-form>
        </div>
        <div>
            <b-progress :value="progress_value" variant="success" striped></b-progress>
        </div>
    <!-- MODAL -->
        <div>
            <b-modal v-model="modalShow" title="BootstrapVue" style="color:black" no-close-on-esc no-close-on-backdrop hide-header-close>
                <p class="my-4">Subiendo Archivo</p>
                <div>
                    SUBIENDO....
                    <!-- <b-progress :value="25" variant="success" striped :animated="animate"></b-progress> -->
                </div>
                <div slot="modal-footer">
                </div>
            </b-modal>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            progress_value: 0,
            modalShow:false
        }
    },methods: {
        descargar_plantilla(){
            window.open('descargar_plantilla_costo');
        },validarArchivo(e) {
            let me = this;
            let fileReader = new FileReader();
            fileReader.readAsDataURL(e.target.files[0]);
            fileReader.onload = e => {
                me.file_archivo = e.target.result;
                // console.log(e.target.result);
            };
        },agregarCostos(evt) {
            this.modalShow=true;
            let formData = new FormData();
            formData.append("file_excel", this.file_archivo);
            evt.preventDefault();
            axios.post("carga_masiva_costos", formData, {
                headers: {
                    "Content-Type": "multipart/form-data"
                },
                })
                .then(response => {
                    this.modalShow=false;
                    this.subida_masiva_opts.universidad='';
                    this.subida_masiva_opts.divisa='';
                    this.file_archivo='';
            });
        }
    },
}
</script>