<template>
  <section id="service-block-main" class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div id="accordionRound" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne-1">
                <a
                  data-toggle="collapse"
                  data-parent="#accordionRound"
                  href="#collapseOne-1"
                  aria-expanded="true"
                  aria-controls="collapseOne-1"
                >Filtros</a>
              </div>
              <div
                id="collapseOne-1"
                class="collapse show"
                role="tabpanel"
                aria-labelledby="headingOne-1"
              >
                <div class="panel-body clearfix m-2">
                  <!-- Tipo de estudio -->
                  <div class="form-group" id="div-tipo-estudio">
                    <label for="selTipoEstudio">
                      <strong>Tipo de Estudio:</strong>
                    </label>
                    <select
                      class="form-control"
                      id="selTipoEstudio"
                      @change="listarProgramas(1,'fade')"
                    >
                      <option value="0" selected>Seleccionar</option>
                      <option
                        v-for="tipo_estudio in arrayTipoDeEstudio"
                        :key="tipo_estudio.id"
                        v-bind:value="tipo_estudio.id"
                        v-text="tipo_estudio.descripcion"
                      ></option>
                    </select>
                  </div>
                  <!--RAMA-->
                  <div class="form-group" id="div-rama">
                    <label for="selRama">
                      <strong>Rama de Estudio:</strong>
                    </label>
                    <select class="form-control" id="selRama" @change="listarProgramas()">
                      <option value="0" selected>Todas las Ramas</option>
                      <option
                        v-for="ramas in arrayRamas"
                        :key="ramas.id"
                        v-bind:value="ramas.id"
                        v-text="ramas.descripcion"
                      ></option>
                    </select>
                  </div>
                  <!--PERFIL-->
                  <div class="form-group" id="div-perfil">
                    <label for="selPerfil">
                      <strong>Perfil de Estudio:</strong>
                    </label>
                    <select class="form-control" id="selPerfil" @change="listarProgramas()"></select>
                  </div>
                  <!--CIUDAD-->
                  <div class="form-group" id="div-ciudad">
                    <label for="selCiudad">
                      <strong>Ciudad:</strong>
                    </label>
                    <select class="form-control" id="selCiudad" @change="listarProgramas()">
                      <option value="0" selected>Todas las ciudades</option>
                      <option
                        v-for="ciudades in arrayCiudades"
                        :key="ciudades.id"
                        v-bind:value="ciudades.id"
                        v-text="ciudades.nombre"
                      ></option>
                    </select>
                  </div>
                  <!--IDIOMA-->
                  <div class="form-group" id="div-idioma">
                    <label>
                      <strong>Idioma de Estudio:</strong>
                    </label>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="rdIdioma"
                        id="rdIdioma1"
                        value="0"
                        checked
                      />
                      <label class="form-check-label" for="rdIdioma1">Todos los idiomas</label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="rdIdioma"
                        id="rdIdioma2"
                        value="1"
                        v-model="picked"
                        @click="listarProgramas()"
                      />
                      <label class="form-check-label" for="rdIdioma2">
                        <img class="flag" src="images/flags/Ruso.svg" />
                        Ruso
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="rdIdioma"
                        id="rdIdioma3"
                        value="2"
                        v-model="picked"
                        @click="listarProgramas()"
                      />
                      <label class="form-check-label" for="rdIdioma3">
                        <img class="flag" src="images/flags/Inglés.svg" />
                        Inglés
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="rdIdioma"
                        id="rdIdioma4"
                        value="3"
                        v-model="picked"
                        @click="listarProgramas()"
                      />
                      <label class="form-check-label" for="rdIdioma4">
                        <img class="flag" src="images/flags/Espanol.svg" />
                        Español
                      </label>
                    </div>
                  </div>
                  <!-- MONEDA -->
                  <div class="form-group" id="div-moneda">
                    <label>
                      <strong>Elegir moneda:</strong>
                    </label>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="rdMoneda"
                        id="rdMoneda1"
                        value="RUB"
                        checked="checked"
                        simbolo="₽"
                        @click="listarProgramas()"
                      />
                      <label class="form-check-label" for="rdMoneda1">
                        Rublos (
                        <img src="images/symbol/RUB.svg" class="symbol" />)
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="rdMoneda"
                        id="rdMoneda2"
                        value="USD"
                        simbolo="$"
                        @click="listarProgramas()"
                      />
                      <label class="form-check-label" for="rdMoneda2">
                        Dólares (
                        <img src="images/symbol/USD.svg" class="symbol" />)
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="rdMoneda"
                        id="rdMoneda3"
                        @click="listarProgramas()"
                      />
                      <label class="form-check-label" for="rdMoneda3" id="lbl-moneda-local"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <section>
            <div class="row">
              <div class="col-md-3 col-sm-12">
                <div
                  class="form-group"
                  style="display:flex;justify-content: left;align-items:center;"
                >
                  <label style="marginmg;margin-right: 4%;" for>Resultados</label>
                  <select
                    class="form-control col-md-2 col-sm-2"
                    name="selHojas"
                    id="selHojas"
                    @change="listarProgramas()"
                  >
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                  </select>
                  <label for style="marginmg;margin-left: 4%;">por página</label>
                </div>
              </div>
              <div class="col-md-9 col-sm-12">
                <form class="form-inline ml-3" onsubmit="return false;" id="form_buscar">
                  <div class="input-group input-group-sm col-md-9">
                    <input
                      type="text"
                      id="txt_buscador"
                      v-on:keyup="listarProgramas()"
                      list="programas"
                      placeholder="Buscador..."
                      aria-label="Search"
                      class="form-control form-control-navbar"
                    />
                    <datalist id="programas">
                      <option
                        v-for="programa in arraySelectProgramas"
                        :key="programa.id"
                      >{{programa.descripcion}}</option>
                    </datalist>
                    <div class="input-group-append" id="buscar_Programas">
                      <span class="btn-navbar">
                        <i class="fas fa-search pl-2"></i>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
              <nav class="pagination pagination-flat col-md-12 col-sm-12 mt-3">
                <ul
                  id="pagination-demo"
                  style="display: flex;justify-content: center;align-items: center;"
                >
                  <li class="page-item">
                    <a href="#" class="page-link" @click.prevent="cambiarPagina('1')">&lt;&lt;</a>
                  </li>
                  <li class="page-item" v-if="pagination.current_page > 1">
                    <a
                      href="#"
                      class="page-link"
                      @click.prevent="cambiarPagina(pagination.current_page - 1)"
                    >&lt;</a>
                  </li>
                  <li
                    class="page-item"
                    v-for="page in pagesNumber"
                    :key="page"
                    :class="[page == isActived ? 'active' : '']"
                  >
                    <a
                      href="#"
                      class="page-link"
                      @click.prevent="cambiarPagina(page)"
                      v-text="page"
                    ></a>
                  </li>
                  <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                    <a
                      href="#"
                      class="page-link"
                      @click.prevent="cambiarPagina(pagination.current_page + 1)"
                    >&gt;</a>
                  </li>
                  <li class="page-item">
                    <a
                      href="#"
                      class="page-link"
                      @click.prevent="cambiarPagina(pagination.last_page)"
                    >&gt;&gt;</a>
                  </li>
                </ul>
              </nav>
            </div>
          </section>
          <div id="result" href="#">
            <div id="load_result" class="row text-center m-4">
              <div class="loader5"></div>
            </div>
          </div>
          <!-- LISTADO DE PROGRAMAS -->
          <div class="row">
            <ul class="pagination">
              <div class="row">
                <div class="col-md-12" v-for="(programa,i) in arrayProgramas" :key="programa.id">
                  <div
                    class="service-item wow fadeInUpQuick animated text-left"
                    data-wow-delay=".2s"
                  >
                    <!-- INICIO ROW INFO PROGRAMA -->
                    <div class="row">
                      <div class="col-md-9">
                        <div
                          class="tipo-estu-rama"
                          v-text="programa.tipo_descripcion+' | '+ programa.rama+' | '+ programa.perfil"
                        ></div>
                        <div class="codi-prog">
                          <h2>
                            <span class="text_programa" v-text="programa.codigo_programa+' '+programa.descripcion_programa"></span>
                          </h2>
                        </div>
                        <div class="univ-ciud">
                          <i class="fas fa-university">
                            <a
                              href="#"
                              id="nameUniv"
                              v-text="' '+programa.universidad+' | '+programa.abreviatura"
                            ></a>
                          </i>|
                          <i class="fas fa-map-marker-alt">
                            <a href="#" v-text="' '+programa.ciudad"></a>
                          </i>
                        </div>
                      </div>
                      <div class="col-sm-3" id="imgUniv">
                        <img
                          id="imgUniv"
                          v-bind:src="'https://universidades-rusia.com/programas/' + programa.nomImage"
                          class="img-fluid"
                        />
                      </div>
                    </div>
                    <!-- FIN ROW INFO PROGRAMA -->
                    <!-- INICIO ROW INFO IDIOMA/COSTO -->
                    <div class="row">
                      <!-- IDIOMA -->
                      <div class="col-md-2 col-sm-3">
                        <span class="title">Idioma</span>
                        <br />
                        <span class="info">
                          <img class="flag" v-bind:src="'images/flags/'+programa.idioma+'.svg'" />
                          {{programa.idioma}}
                        </span>
                      </div>
                      <!-- duracion -->
                      <div class="col-md-2 col-sm-3">
                        <span class="title">Duración</span>
                        <br />
                        <span class="info" v-text="programa.duracion_programa"></span>
                      </div>
                      <!--COSTO-->
                      <div class="col-sm-4 col-md-3 col-lg-3">
                        <span class="title">Costo (por año)</span>
                        <br />
                        <span class="info" v-text="simbolo+' '+arrayCostos[i]+' año'"></span>
                      </div>
                      <div class="col-sm-4 col-md-3 col-lg-3">
                        <span class="title">Curso Preparatorio:</span>
                        <br />
                        <span class="info" v-text="simbolo+' '+arrayPresupuesto[i]"></span>
                      </div>
                      <!--BECA-->
                      <div class="col-md-2 col-sm-3">
                        <span class="title">Beca</span>
                        <br />
                        <span
                          v-if="programa.beca=='No' || programa.beca=='no'"
                          style="border-radius:4px;padding:4px 11px;border:1px solid gray;background:rgba(178,182,191,1);"
                          class="info"
                          v-text="programa.beca"
                        ></span>
                        <span
                          v-else
                          style="border-radius:4px;padding:4px 11px;border:1px solid green;padding:4px 11px;background:rgba(156,255,136,1);"
                          class="info"
                        ><a href="https://www.universidades-rusia.com/becas" target="_blank" v-text="programa.beca"></a></span>
                      </div>
                    </div>
                    <!-- PRESUPUESTAR -->
                    <div class="row">
                      <div class="col-12 text-right" id="presu">
                        <a
                          @click="abrirModal(programa.tipo_descripcion,arrayPresupuesto[i],programa.id_universidad, programa.url, programa.universidad,programa.iso4217,arrayCostos[i],programa.id_programa,simbolo,programa.descripcion_programa)"
                          class="btn btn-primary"
                          style="border-radius:3px;"
                          data-toggle="modal"
                          data-target="#exampleModalCenter"
                        >
                          <i class="fas fa-check" style="margin:5px;"></i>Presupuestar
                        </a>
                      </div>
                    </div>
                    <!-- FIN ROW INFO IDIOMA -->
                  </div>
                </div>
              </div>
            </ul>
          </div>
          <!-- FIN DE LISTADO DE PROGRAMAS -->
          <nav class="pagination pagination-flat col-md-12 col-sm-12">
            <ul
              id="pagination-demo"
              style="display: flex;justify-content: center;align-items: center;"
            >
              <li class="page-item">
                <a href="#" class="page-link" @click.prevent="cambiarPagina('1')">&lt;&lt;</a>
              </li>
              <li class="page-item" v-if="pagination.current_page > 1">
                <a
                  href="#"
                  class="page-link"
                  @click.prevent="cambiarPagina(pagination.current_page - 1)"
                >&lt;</a>
              </li>
              <li
                class="page-item"
                v-for="page in pagesNumber"
                :key="page"
                :class="[page == isActived ? 'active' : '']"
              >
                <a href="#" class="page-link" @click.prevent="cambiarPagina(page)" v-text="page"></a>
              </li>
              <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                <a
                  href="#"
                  class="page-link"
                  @click.prevent="cambiarPagina(pagination.current_page + 1)"
                >&gt;</a>
              </li>
              <li class="page-item">
                <a
                  href="#"
                  class="page-link"
                  @click.prevent="cambiarPagina(pagination.last_page)"
                >&gt;&gt;</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- MODAL -->
    <div
      class="modal fade"
      id="exampleModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="text-dark"
              id="exampleModalLongTitle"
              v-text="Texto_titulo_modal"
            ></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span> 
            </button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" id="monedaNormal">
                      <label>
                        <strong>Elegir moneda:</strong>
                      </label>
                      <div class="form-check" id="guardarMoneda">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="rdMonedas2"
                          id="rublos"
                          value="RUB"
                          :disabled="modal_variables.validated_moneda_ruso"
                          @change="cambio_modal('RUB');"
                        />
                        <label class="form-check-label" for="rdMonedas2">
                          Rublos (
                          <img src="images/symbol/RUB.svg" class="symbol" />)
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="rdMonedas2"
                          id="dolares"
                          value="USD"
                          :disabled="modal_variables.validated_moneda_dolar"
                          @change="cambio_modal('USD');"
                        />
                        <label class="form-check-label" for="rdMonedas2">
                          Dólares (
                          <img src="images/symbol/USD.svg" class="symbol" />)
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="rdMonedas2"
                          id="tuMoneda"
                          value="tumoneda"
                          :disabled="modal_variables.validated_moneda_local"
                          @change="cambio_modal('tumoneda');"
                        />
                        <label
                          class="form-check-label"
                          for="rdMonedas8"
                          id="lbl-moneda-local2"
                        >Tu moneda local</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 text-center">
                    <div class="btn-group m-5">
                      <button
                        type="button"
                        data-toggle="dropdown"
                        class="btn btn-success dropdown-hover dropdown-icon"
                        aria-expanded="false"
                      >
                        <span class>
                          Descargar
                          <i class="fas fa-chevron-down ml-3"></i>
                        </span>
                        <div
                          class="dropdown-menu"
                          role="menu"
                          x-placement="top-start"
                          style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-1px, -165px, 0px);"
                        >
                          <a class="dropdown-item" href="#" @click="imprimirPDF()">En PDF</a>
                          <!-- <a class="dropdown-item" href="#" @click="imprimirEXCEL()">En Excel</a> -->
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col">Descripción</th>
                    <th
                      scope="col"
                      style="text-align:center"
                      v-show="mostrar_columna"
                    >Facultad Preparatoria</th>
                    <th scope="col" style="text-align:center;" id="Tipo_Estudio"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Estudios (Colegiatura) anual</th>
                    <td style="text-align:center" v-show="mostrar_columna">
                      <div id="costos_fc" v-text="modal_variables.estudios_preparatoria"></div>
                    </td>
                    <td style="text-align:center;">
                      <div id="costos_carrera" v-text="modal_variables.estudios_carreras"></div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Vivienda universitaria anual</th>
                    <td style="text-align:center" v-show="mostrar_columna">
                      <div id="fc_costo_vivienda" v-text="modal_variables.vivienda_universitaria"></div>
                    </td>
                    <td style="text-align:center;">
                      <div id="tipo_costo_vivienda" v-text="modal_variables.vivienda_universitaria"></div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Seguro médico anual</th>
                    <td style="text-align:center" v-show="mostrar_columna">
                      <div id="fc_costo_seguro" v-text="modal_variables.seguro_medico"></div>
                    </td>
                    <td style="text-align:center;">
                      <div id="tipo_costo_seguro" v-text="modal_variables.seguro_medico"></div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Alimentación, gastos personales,
                      <br />Telefonía celular e Internet anual
                    </th>
                    <td style="text-align:center" v-show="mostrar_columna">
                      <div id="fc_costo_alimentacion" v-text="modal_variables.alimentacion"></div>
                    </td>
                    <td style="text-align:center;">
                      <div id="tipo_costo_alimentacion" v-text="modal_variables.alimentacion"></div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Total anual</th>
                    <td style="text-align:center" v-show="mostrar_columna" id="total_fc" >
                        <img v-show="modal_variables.moneda_usd" src='images/symbol/USD.svg' class='symbol' style='margin-top:-4px'>
                        <img v-show="modal_variables.moneda_rub" src='images/symbol/RUB.svg' class='symbol' style='margin-top:-4px'>
                        <span v-show="modal_variables.moneda_local_active" v-text="modal_variables.moneda_local_text"></span>
                        <span v-text="modal_variables.total_preparatoria"></span>
                    </td>
                    <td style="text-align:center" id="total_carrera" >
                        <img v-show="modal_variables.moneda_usd" src='images/symbol/USD.svg' class='symbol' style='margin-top:-4px'>
                        <img v-show="modal_variables.moneda_rub" src='images/symbol/RUB.svg' class='symbol' style='margin-top:-4px'>
                        <span v-show="modal_variables.moneda_local_active" v-text="modal_variables.moneda_local_text"></span>
                        <span v-text="modal_variables.total_carreras"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer d-flex justify-content-between" id="presuUniv" >
              <div class="row col-12">
                <div class="col-md-6 col-sm-12 mt-2">
                  <div>
                    <i class="fas fa-university"></i>
                    <a
                      rel="nofollow"
                      target="_blank"
                      v-text="modal_variables.nombre_universidad"
                      :href="modal_variables.url_universidad"
                    ></a>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 mt-2 text-right">
                  <div>
                    <a
                      href="https://www.universidades-rusia.com/inscripciones/"
                      target="_blank"
                      class="btn"
                      style="background-color:rgb(250,182,22);color:rgb(13,34,93)"
                      @click="inscripcionPrograma()"
                    >
                      ¡Quiero inscribirme!
                      <i class="fas fa-graduation-cap"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN MODAL -->
</template>
<script>
export default {
  data() {
    return {
      modal_variables:{
        estudios_preparatoria:'',
        estudios_carreras:'',
        vivienda_universitaria:'',
        seguro_medico:'',
        alimentacion:'',
        total_preparatoria:'',
        total_carreras:'',
        url_universidad:'',
        nombre_universidad:'',
        moneda_usd:false,
        moneda_rub:false,
        moneda_local_active:false,
        moneda_local_text:'',
        validated_moneda_local:false,
        validated_moneda_dolar:false,
        validated_moneda_ruso:false,
      },
      base_url: "https://universidades-rusia.com/programas/",
      Texto_titulo_modal: "",
      mostrar_columna: true,
      picked: "0",
      conversion: "",
      moneda_local: "",
      modal_id_universidad: "",
      modal_id_programa: "",
      arrayTipoDeEstudio: [],
      arrayRamas: [],
      arrayCiudades: [],
      arrayProgramas: [],
      arrayPresupuesto: [],
      arrayCostos: [],
      arraySelectProgramas: [],
      simbolo: "",
      pagination: {
        total: 0,
        current_page: 0,
        per_page: 0,
        last_page: 0,
        from: 0,
        to: 0
      },
      offset: 3,
      pais_procedencia: "",
      region_procedencia: ""
    };
  },
  computed: {
    isActived: function() {
      return this.pagination.current_page;
    },
    pagesNumber: function() {
      if (!this.pagination.to) {
        return [];
      }

      var from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }

      var to = from + this.offset * 2;
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }

      var pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    }
  },
  methods: {
    monedaLocal() {
      let me = this;
      var xhr = new XMLHttpRequest();
      xhr.open(
        "GET",
        "https://ssl.geoplugin.net/json.gp?k=2f792d70b7f59928",
        true
      );
      xhr.onload = function() {
        let respuesta = JSON.parse(xhr.responseText);
        me.moneda_local = respuesta["geoplugin_currencyCode"];
        me.pais_procedencia = respuesta["geoplugin_countryName"];
        me.region_procedencia = respuesta["geoplugin_regionName"];
        // var param = {"iso4217": respuesta["geoplugin_currencyCode"],"moneda": respuesta["geoplugin_currencySymbol"]};
        axios.get(
              "monedaLocal/" +
              respuesta["geoplugin_currencyCode"]
          )
          .then(function(response) {
            document.getElementById("rdMoneda3").value =
              response.data[0].iso4217;
            document
              .getElementById("rdMoneda3")
              .setAttribute("simbolo", response.data[0].simbolo);
            $("#lbl-moneda-local").html(
              response.data[0].nombre + " (" + response.data[0].simbolo + ")"
            );
            document
              .getElementById("lbl-moneda-local2")
              .setAttribute("simbolo_moneda_local", response.data[0].simbolo);
          })
          .catch(function(error) {
            console.log(error);
          });
      };
      xhr.send();
    },
    listar() {
      let me = this;
      axios.get("data_buscador")
        .then(function(response) {
          var respuesta = response.data;
          me.arrayTipoDeEstudio = respuesta.tipo_estudio;
          me.arrayRamas = respuesta.ramas;
          me.arrayCiudades = respuesta.ciudades;
        })
        .catch(function(error) {
          error;
        });
    },
    cambiarPagina(page) {
      let me = this;
      //Actualizar la pagina actual
      me.pagination.current_page = page;
      //Envia la peticion para visualizar la data de esa pagina
      me.listarProgramas(page);
    },
    listarProgramas(page) {
      $("#load_result").css("display", "block");
      $("#result").fadeOut(300);
      // $("#result").fadeIn(800);
      let me = this;
      var url = "api/programas?page=" + page;
      // Si escoge escuela de verano o invierno
      let tipo_de_estudio=document.getElementById("selTipoEstudio").value;
      if(tipo_de_estudio==7 || tipo_de_estudio==8){
        window.open('https://www.universidades-rusia.com/temporada/cursos-de-verano-en-rusia/');
      }else if(tipo_de_estudio==6){
        window.open('https://www.blog.universidades-rusia.com/ruso-online/');
      }
      me.arrayProgramas = [];
      setTimeout(() => {
        axios
          .post(url, {
            tipoestudio: tipo_de_estudio,
            rama: document.getElementById("selRama").value,
            perfil: document.getElementById("selPerfil").value,
            idCiudad: document.getElementById("selCiudad").value,
            cantidadHojas: document.getElementById("selHojas").value,
            array_programas: document.getElementById("txt_buscador").value,
            idioma: $("input:radio[name=rdIdioma]:checked").val(),
            moneda: $("input:radio[name=rdMoneda]:checked").val(),
            simbolo: $("input:radio[name=rdMoneda]:checked").attr("simbolo"),
            pais_procedencia: me.pais_procedencia,
            region_procedencia: me.region_procedencia
          })
          .then(function(response) {
            me.arrayCostos = [];
            me.arrayPresupuesto = [];
            let convertido;
            let costoPresupuesto;
            var respuesta = response.data;
            $("#load_result").css("display", "none");
            me.arrayProgramas = respuesta.results.data;
            me.simbolo = respuesta.simbolo;
            me.arrayProgramas.forEach(programa => {
              switch (programa.divisa) {
                case "RUB":
                  switch (programa.iso4217) {
                    case "RUB":
                      convertido = new Intl.NumberFormat("ja-JP").format(
                        parseInt(programa.costo_d)
                      );
                      costoPresupuesto = new Intl.NumberFormat("ja-JP").format(
                        parseInt(programa.presu_costo_d)
                      );
                      me.conversion = respuesta.ratioRUB[0].ratio;
                      break;
                    case "USD":
                      convertido = new Intl.NumberFormat("ja-JP").format(
                        parseInt(programa.costo_d / respuesta.ratioRUB[0].ratio)
                      );
                      costoPresupuesto = new Intl.NumberFormat("ja-JP").format(
                        parseInt(
                          programa.presu_costo_d / respuesta.ratioRUB[0].ratio
                        )
                      );
                      me.conversion = 1;
                      break;
                    default:
                      convertido = new Intl.NumberFormat("ja-JP").format(
                        parseInt(
                          (programa.costo_d / respuesta.ratioRUB[0].ratio
                        ) * programa.ratio)
                      );
                      costoPresupuesto = new Intl.NumberFormat("ja-JP").format(
                        parseInt(
                          (programa.presu_costo_d /
                            respuesta.ratioRUB[0].ratio) *
                            programa.ratio
                        )
                      );
                      me.conversion = programa.ratio;
                      break;
                  }
                  break;
                case "USD":
                  switch (programa.iso4217) {
                    case "USD":
                      convertido = new Intl.NumberFormat("ja-JP").format(
                        parseInt(programa.costo_d)
                      );
                      costoPresupuesto = new Intl.NumberFormat("ja-JP").format(
                        parseInt(programa.presu_costo_d)
                      );
                      me.conversion = 1;
                      break;
                    default:
                      convertido = new Intl.NumberFormat("ja-JP").format(
                        parseInt(programa.costo_d * programa.ratio)
                      );
                      costoPresupuesto = new Intl.NumberFormat("ja-JP").format(
                        parseInt(programa.presu_costo_d * programa.ratio)
                      );
                      me.conversion = programa.ratio;
                      break;
                  }
                  break;
              }
              me.arrayPresupuesto.push(costoPresupuesto);
              me.arrayCostos.push(convertido);
            });
            me.pagination = respuesta.pagination;
          }).catch(function(error) {
            console.log(error);
          });
      }, 400);
      $("#result").fadeIn(1000);
    },
    abrirModal(
      Tipo_Estudio,
      presupuesto,
      id_universidad,
      url_universidad,
      nombre_univ,
      moneda,
      costos_carrera,
      id_programa,
      simbolo,
      nombre_programa){
      document.getElementById("exampleModalCenter").setAttribute("simbolo_moneda", simbolo);
      // EL CAMBIO DE MONEDA DENTRO DEL MODAL SE ENCUENTRA EN PROGRAMA.JS
      let me = this;
      me.modal_variables.moneda_local_active=false;
      me.modal_variables.moneda_usd=false;
      me.modal_variables.moneda_rub=false;
      me.modal_variables.moneda_local_text='';
      me.Texto_titulo_modal = "Presupuesto anual de: " + nombre_programa;
      if (
        nombre_programa == "Facultad Preparatoria III" ||
        nombre_programa == "Facultad Preparatoria II" ||
        nombre_programa == "Facultad Preparatoria I"
      ) {
        me.mostrar_columna = false;
      }else{
        me.mostrar_columna = true;
      }
      me.modal_id_universidad = id_universidad;
      me.modal_id_programa = id_programa;
      var nuevaCosto = costos_carrera.replace(",", "");
      document.getElementById("Tipo_Estudio").innerHTML = Tipo_Estudio;
      me.modal_variables.nombre_universidad=nombre_univ;
      me.modal_variables.url_universidad=url_universidad;
      var monedaLocal = $("#lbl-moneda-local").html();
      document.getElementById("lbl-moneda-local2").innerHTML = monedaLocal;
      me.modal_variables.estudios_carreras = new Intl.NumberFormat("ja-JP").format(parseInt(nuevaCosto));
      $("#costos_carrera").attr("valorReal", nuevaCosto);
      axios.post("api/presupuesto", {
          id_universidad: id_universidad,
          id_programa: me.modal_id_programa,
          pais_procedencia: me.pais_procedencia,
          region_procedencia: me.region_procedencia
      }).then(function(response) {
          var respuesta = response.data;
          var costo_vivienda = parseInt(respuesta.message[0].costo_vivienda * me.conversion);
          document.getElementById('fc_costo_vivienda').setAttribute("valorReal", costo_vivienda);
          var costo_seguro = parseInt(respuesta.message[0].costo_seguro * me.conversion);
          document.getElementById('fc_costo_seguro').setAttribute("valorReal", costo_seguro);
          var costo_alimentacion = parseInt(respuesta.message[0].costo_alimentacion * me.conversion);
          document.getElementById('fc_costo_alimentacion').setAttribute("valorReal", costo_alimentacion);
          var total_carrera = new Intl.NumberFormat("ja-JP").format(
              parseInt(costo_vivienda) +
              parseInt(costo_seguro) +
              parseInt(costo_alimentacion) +
              parseInt(nuevaCosto)
          );
          me.modal_variables.vivienda_universitaria = new Intl.NumberFormat("ja-JP").format(parseInt(costo_vivienda));
          me.modal_variables.seguro_medico= new Intl.NumberFormat("ja-JP").format(parseInt(costo_seguro));
          me.modal_variables.alimentacion= new Intl.NumberFormat("ja-JP").format(parseInt(costo_alimentacion));
          me.modal_variables.total_carreras =simbolo + " " + total_carrera;
          let nuevaCadena2 = presupuesto.replace(",", "");
          let total_facultad = parseInt(costo_vivienda) + parseInt(costo_seguro) + parseInt(costo_alimentacion)+parseInt(nuevaCadena2);
          me.modal_variables.estudios_preparatoria = new Intl.NumberFormat("ja-JP").format(parseInt(nuevaCadena2));
          $("#costos_fc").attr("valorReal", nuevaCadena2);
          document.getElementById('guardarMoneda').setAttribute("cambio", me.conversion);
          me.modal_variables.total_preparatoria  =simbolo +" " +new Intl.NumberFormat("ja-JP").format(parseInt(total_facultad));
          switch (moneda) {
            case "RUB":
              $("#rublos").prop("checked", true);
              $("#guardarMoneda").attr("antiguaMoneda", "RUB");
              break;
            case "USD":
              $("#dolares").prop("checked", true);
              $("#guardarMoneda").attr("antiguaMoneda", "USD");
              break;
            default:
              $("#tuMoneda").prop("checked", true);
              $("#guardarMoneda").attr("antiguaMoneda", "tumoneda");
              break;
          }
      })
      .catch(function(error) {
        console.log(error);
      });
    },
    imprimirPDF() {
      window.open(
        "https://universidades-rusia.com/programas/descargar_formulario_presupuesto/" +
          this.modal_id_universidad +
          "/" +
          this.modal_id_programa +
          "/" +
          this.moneda_local +
          "/" +
          this.pais_procedencia +
          "/" +
          this.region_procedencia
      );
    },
// imprimirEXCEL() {
//   window.open("https://universidades-rusia.com/programas-rusia/descargar_excel_presupuesto/" +
//       this.modal_id_universidad +
//       "/" +
//       this.modal_id_programa +
//       "/" +
//       this.moneda_local +
//       "/" +
//       this.pais_procedencia +
//       "/" +
//       this.region_procedencia
//   );
// },
    inscripcionPrograma() {
      let me = this;
      axios
        .post(me.base_url + "api/inscripcionPrograma", {
          id_programa: me.modal_id_programa,
          pais_procedencia: me.pais_procedencia,
          region_procedencia: me.region_procedencia
        })
        .then(function(response) {
          // window.open('');
        });
    },cambio_modal(estado){
      let me=this;
      me.modal_variables.validated_moneda_local=true;
      me.modal_variables.validated_moneda_ruso=true;
      me.modal_variables.validated_moneda_dolar=true;
      var antiguaMoneda = $("#guardarMoneda").attr("antiguaMoneda");
      // data = { "iso4217": $('#rdMoneda3').val() }
      var costoReal_vivienda = $('#fc_costo_vivienda').attr("valorReal");
      var costoReal_seguro = $('#fc_costo_seguro').attr("valorReal");
      var costoReal_alimentacion = $('#fc_costo_alimentacion').attr("valorReal");
      var costoReal_carrera = $('#costos_carrera').attr("valorReal");
      var costoReal_facultad = $('#costos_fc').attr("valorReal");
      let resultadoReal;
      let resultadoReal_seguro;
      let resultadoReal_alimentacion;
      let resultadoReal_carrera;
      let resultadoReal_facultad;

      axios.get("api/Divisa/"+$('#rdMoneda3').val())
        .then(function(response) {
          var respuesta = response.data;
          let conversionUSD=respuesta.message.USD;
          let conversionRUB=respuesta.message.RUB;
          let conversionDefault=respuesta.message.LOCAL;
          
          switch (antiguaMoneda) {
            case 'USD':
              switch (estado) {
                case 'RUB':
                  //COSTOS VIVIENDA
                  resultadoReal = costoReal_vivienda * conversionRUB;
                  //COSTOS SEGURO
                  resultadoReal_seguro = costoReal_seguro * conversionRUB;
                  //COSTO ALIMENTACION
                  resultadoReal_alimentacion = costoReal_alimentacion * conversionRUB;
                  //COSTO CARRERA
                  resultadoReal_carrera = costoReal_carrera * conversionRUB;
                  //COSTO FACULTAD
                  resultadoReal_facultad = costoReal_facultad * conversionRUB;
                  //GUARDAR MONEDA ANTIGUA;
                  document.getElementById('guardarMoneda').setAttribute("antiguaMoneda", 'RUB');
                  break;
                case 'tumoneda':
                  //COSTOS VIVIENDA
                  resultadoReal = costoReal_vivienda * conversionDefault;
                  //COSTOS SEGURO
                  resultadoReal_seguro = costoReal_seguro * conversionDefault;
                  //COSTOS ALIMENTACION
                  resultadoReal_alimentacion = costoReal_alimentacion * conversionDefault;
                  //COSTO CARRERA
                  resultadoReal_carrera = costoReal_carrera * conversionDefault;
                  //COSTO FACULTAD
                  resultadoReal_facultad = costoReal_facultad * conversionDefault;
                  //GUARDAR MONEDA ANTIGUA;
                  document.getElementById('guardarMoneda').setAttribute("antiguaMoneda", 'tumoneda');
                  break;
              }
              break;
            case 'RUB':
              switch (estado) {
                case 'USD':
                  //COSTOS VIVIENDA
                  resultadoReal = costoReal_vivienda / conversionRUB;
                  //COSTOS_SEGURO
                  resultadoReal_seguro = costoReal_seguro / conversionRUB;
                  //COSTOS ALIMENTACION
                  resultadoReal_alimentacion = costoReal_alimentacion / conversionRUB;
                  //COSTO CARRERA
                  resultadoReal_carrera = costoReal_carrera / conversionRUB;
                  //COSTO FACULTAD
                  resultadoReal_facultad = costoReal_facultad / conversionRUB;
                  //GUARDAR MONEDA ANTIGUA;
                  document.getElementById('guardarMoneda').setAttribute("antiguaMoneda", 'USD');
                break;
                case 'tumoneda':
                  //COSTOS VIVIENDA
                  resultadoReal = (costoReal_vivienda / conversionRUB) * conversionDefault;
                  //COSTOS_SEGURO
                  resultadoReal_seguro = (costoReal_seguro / conversionRUB) * conversionDefault;
                  //COSTOS_ALIMENTACION
                  resultadoReal_alimentacion = (costoReal_alimentacion / conversionRUB) * conversionDefault;
                  //COSTO CARRERA
                  resultadoReal_carrera = (costoReal_carrera / conversionRUB) * conversionDefault;
                  //COSTO FACULTAD
                  resultadoReal_facultad = (costoReal_facultad / conversionRUB) * conversionDefault;
                  //GUARDAR MONEDA ANTIGUA;
                  document.getElementById('guardarMoneda').setAttribute("antiguaMoneda", 'tumoneda');
                  break;
              }
              break;
            default:
              switch (estado) {
                case 'USD':
                  //COSTOS VIVIENDA
                  resultadoReal = costoReal_vivienda / conversionDefault;
                  //COSTOS_SEGURO
                  resultadoReal_seguro = costoReal_seguro / conversionDefault;
                  //COSTOS ALIMENTACION
                  resultadoReal_alimentacion = costoReal_alimentacion / conversionDefault;
                  //COSTO CARRERA
                  resultadoReal_carrera = costoReal_carrera / conversionDefault;
                  //COSTO FACULTAD
                  resultadoReal_facultad = costoReal_facultad / conversionDefault;
                  //GUARDA MONEDA
                  document.getElementById('guardarMoneda').setAttribute("antiguaMoneda", 'USD');
              break;
                case 'RUB':
                  //COSTOS VIVIENDA
                  resultadoReal = (costoReal_vivienda / conversionDefault) * conversionRUB;
                  //COSTOS SEGURO
                  resultadoReal_seguro = (costoReal_seguro / conversionDefault) * conversionRUB;
                  //COSTOS_ALIMENTACION
                  resultadoReal_alimentacion = (costoReal_alimentacion / conversionDefault) * conversionRUB;
                  //COSTO CARRERA
                  resultadoReal_carrera = (costoReal_carrera / conversionDefault) * conversionRUB;
                    //COSTO FACULTAD
                  resultadoReal_facultad = (costoReal_facultad / conversionDefault) * conversionRUB;
                  //GUARDA MONEDA
                  document.getElementById('guardarMoneda').setAttribute("antiguaMoneda", 'RUB');
                  break;
              }
              break;
          }
          //PONER INFORMACION VIVIENDA
          me.modal_variables.vivienda_universitaria=me.ponerComa(resultadoReal);
          document.getElementById('fc_costo_vivienda').setAttribute("valorReal",resultadoReal);
          // $('#tipo_costo_vivienda').html(ponerComa(resultadoReal));
          //PONER INFORMACION SEGURO
          me.modal_variables.seguro_medico=me.ponerComa(resultadoReal_seguro);
          document.getElementById('fc_costo_seguro').setAttribute("valorReal",resultadoReal_seguro);
          //PONER INFORMACION ALIMENTACION
          me.modal_variables.alimentacion=me.ponerComa(resultadoReal_alimentacion);
          document.getElementById('fc_costo_alimentacion').setAttribute("valorReal",resultadoReal_alimentacion);
          //PONER INFORMACION CARRERA
          me.modal_variables.estudios_carreras=me.ponerComa(resultadoReal_carrera);
          document.getElementById('costos_carrera').setAttribute("valorReal",resultadoReal_carrera);
          // //Poner informacion facultad
          me.modal_variables.estudios_preparatoria=me.ponerComa(resultadoReal_facultad);
          document.getElementById('costos_fc').setAttribute("valorReal",resultadoReal_facultad);
          // //TOTALES
          let suma_preparatoria=parseInt(resultadoReal) + parseInt(resultadoReal_seguro) + parseInt(resultadoReal_alimentacion)+ parseInt(resultadoReal_facultad);
          let suma_carrera=parseInt(resultadoReal) + parseInt(resultadoReal_seguro) + parseInt(resultadoReal_alimentacion) + parseInt(resultadoReal_carrera);
          me.modal_variables.total_preparatoria=me.ponerComa_total(suma_preparatoria ,estado);
          me.modal_variables.total_carreras=me.ponerComa_total(suma_carrera,estado);
          me.modal_variables.validated_moneda_local=false;
          me.modal_variables.validated_moneda_ruso=false;
          me.modal_variables.validated_moneda_dolar=false;
        }).catch(function(error) {
          error;
      });
    },ponerComa(poner) {
      let nuevaComa = new Intl.NumberFormat("ja-JP").format(parseInt(poner));
      return nuevaComa;
    },ponerComa_total(poner,estado) {
        let me=this;
        switch (estado) {
          case 'USD':
            me.modal_variables.moneda_usd=true;
            me.modal_variables.moneda_rub=false;
            me.modal_variables.moneda_local_active=false;
            me.modal_variables.moneda_local_text='';
          break;
          case 'RUB':
            me.modal_variables.moneda_usd=false;
            me.modal_variables.moneda_rub=true;
            me.modal_variables.moneda_local_active=false;
            me.modal_variables.moneda_local_text='';
          break;
          default:
            me.modal_variables.moneda_usd=false;
            me.modal_variables.moneda_rub=false;
            me.modal_variables.moneda_local_active=true;
            me.modal_variables.moneda_local_text=document.getElementById("lbl-moneda-local2").getAttribute('simbolo_moneda_local');
          break;
        }
      let nuevaComa =new Intl.NumberFormat("ja-JP").format(parseInt(poner));
      return nuevaComa;
    }
  },
  mounted() {
    // this.base_url = process.env.MIX_URLAXIOS;
    this.monedaLocal();
    this.listar();
    this.listarProgramas();
  }
};
</script>
<style>
.text_programa {
  font-family: sans-serif !important;
  font-weight: bold !important;
  line-height: normal !important;
  font-size: 1.1em !important;
  color: #111 !important;
  margin-bottom: 6px !important;
}
#load_result {
  display: none;
}
.loader5 {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0d225d;
  border-top: 10px solid #fab616;
  -webkit-animation: loader5 1.2s ease-in-out infinite alternate;
  animation: loader5 1.2s ease-in-out infinite alternate;
}

@keyframes loader5 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
@-webkit-keyframes loader5 {
  from {
    -webkit-transform: rotate(0deg);
  } 
  to {
    -webkit-transform: rotate(720deg);
  }
}
</style>
