<template>
  <b-container fluid class="pr-4 pl-4 pt-4">
    <b-card style="font-size:20px;">Listado de ciudades</b-card>
    <!-- FILTROS -->
    <b-row class="fluid">
      <b-col lg="4" sm="12" md="4" class="float-left">
        <b-button variant="light" size="md" @click="abrir_add_ciudad()">
          <i class="far fa-plus-square" style="color: blue"></i>&nbsp;Agregar ciudad
        </b-button>
      </b-col>
      <b-col lg="4" sm="12" md="4" class="my-1">
        <b-form-group
          label="Filtrar"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Escriba para filtrar"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">
                <i class="fas fa-trash-alt"></i> Limpiar Filtro
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col sm="12" md="4" lg="4" class="my-1">
        <b-form-group
          label="Mostrar"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
        </b-form-group>
      </b-col>
    </b-row>
    <!-- Main table element -->
    <b-table
      show-empty
      small
      stacked="md"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      class="mt-3"
      @filtered="onFiltered"
      foot-clone
      :busy="isBusy"
    >
      <template v-slot:table-busy>
        <div class="text-center text-muted my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Cargando datos ...</strong>
        </div>
      </template>

      <template v-slot:cell(actions)="row">
        <b-button size="sm" @click="abrir_editar_ciudad(row.item)" class="mr-1" variant="info">
          <i class="fas fa-edit"></i>
        </b-button>
        <b-button size="sm" @click="eliminar_ciudad(row.item)" class="mr-1" variant="danger">
          <i class="fas fa-times-circle"></i>
        </b-button>
      </template>
    </b-table>
    <b-col sm="12" md="12" lg="6" class="my-1 pb-3 container">
      <b-pagination
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="fill"
        size="sm"
        class="my-0"
      ></b-pagination>
    </b-col>

    <!-- MODAL CREAR CIUDAD -->
    <b-modal ref="add_ciudad" hide-footer :title="infoAddModal.title" header-bg-variant="info">
      <b-form @submit="agregarCiudad">
        <b-container fluid>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Ciudad:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="infoAddModal.data.nombre" required autocomplete="off"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-3 float-right">
            <b-button pill variant="outline-secondary" @click="hideModal_addCiudad">Cancelar</b-button>
            <b-button pill variant="success" class="ml-2" type="submit">Agregar ciudad</b-button>
          </b-row>
        </b-container>
      </b-form>
    </b-modal>

    <!-- MODAL EDITAR CIUDAD -->
    <b-modal ref="edit_ciudad" hide-footer :title="infoEditModal.title" header-bg-variant="info">
      <b-form @submit="editarCiudad">
        <b-container fluid>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Ciudad:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input v-model="infoEditModal.data.nombre" required autocomplete="off"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-3 float-right">
            <b-button pill variant="outline-secondary" @click="hideModal_editCiudad">Cancelar</b-button>
            <b-button pill variant="success" class="ml-2" type="submit">Actualizar Datos</b-button>
          </b-row>
        </b-container>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      items: [],
      isBusy: true,
      fields: [
        {
          key: "actions",
          label: "Acciones",
          thStyle: "width: 10%",
          class: "text-center"
        },
        {
          key: "nombre",
          label: "Nombre",
          sortable: true,
          thStyle: "width: 25%"
        }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15, 20],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoAddModal: {
        id: "info-add-modal",
        title: "",
        data: {
          nombre: ""
        }
      },
      infoEditModal: {
        id: "info-edit-modal",
        title: "",
        data: {
          nombre: ""
        }
      }
    };
  },
  computed: {},
  mounted() {
    this.listarCiudades();
    setTimeout(() => {
      this.isBusy = false;
    }, 1500);
  },
  methods: {
    recargarData() {
      this.isBusy = true;
      this.listarCiudades();
      setTimeout(() => {
        this.isBusy = false;
      }, 1500);
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    //============================================================
    // LISTAR CIUDADES
    listarCiudades() {
      axios
        .get("api/admin_ciudades")
        .then(response => {
          let respuesta = response.data;
          this.items = respuesta.ciudades;
          this.totalRows = this.items.length;
        })
        .catch(e => {
          console.log("error" + e);
        });
    },
    //============================================================
    // AGREGAR CIUDAD
    abrir_add_ciudad() {
      let me = this;
      me.infoAddModal.title = "Agregar ciudad";
      me.$refs["add_ciudad"].show();
    },
    agregarCiudad(evt) {
      evt.preventDefault();
      let me = this;
      axios
        .post("api/admin_ciudades", {
          data: me.infoAddModal.data
        })
        .then(response => {
          this.hideModal_addCiudad();
          this.recargarData();
        });
    },
    hideModal_addCiudad() {
      this.listarCiudades();
      this.$refs["add_ciudad"].hide();
      this.infoAddModal = {
        id: "info-add-modal",
        title: "",
        data: {
          nombre: ""
        }
      };
    },
    //============================================================
    // EDITAR CIUDAD
    abrir_editar_ciudad(item) {
      let me = this;
      me.infoEditModal.title = "Editar ciudad";
      me.infoEditModal.data = item;
      me.$refs["edit_ciudad"].show();
    },
    editarCiudad() {
      axios
        .put("api/admin_ciudades/" + this.infoEditModal.data.id, {
          data: this.infoEditModal.data
        })
        .then(response => {
          this.hideModal_editCiudad();
          this.recargarData();
        });
    },
    hideModal_editCiudad() {
      this.listarCiudades();
      this.$refs["edit_ciudad"].hide();
      this.infoEditModal = {
        id: "info-add-modal",
        title: "",
        data: {
          nombre: ""
        }
      };
    },
    //============================================================
    //ELIMINAR CIUDAD
    eliminar_ciudad(item) {
      this.boxTwo = "";
      this.$bvModal
        .msgBoxConfirm(
          "¿Está seguro de eliminar permamentemente esta ciudad?",
          {
            title: "Confirmación de eliminación",
            size: "sm",
            buttonSize: "sm",
            okVariant: "danger",
            okTitle: "Si, eliminar",
            cancelTitle: "Cancelar",
            footerClass: "p-2",
            hideHeaderClose: false,
            centered: true,
            headerClass: "bg-danger"
          }
        )
        .then(value => {
          if (value) {
            axios
              .delete("api/admin_ciudades/" + item.id)
              .then(response => {
                this.recargarData();
              })
              .catch(e => {
                console.log("error" + e);
              });
          }
        })
        .catch(err => {
          console.log("error" + err);
        });
    }
  }
};
</script>
