<template>
  <div class="row">
    <div class="col-md-2 col-sm-6">
      <div
        class="nav flex-column nav-pills"
        id="estadisticas-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active"
          id="estadisticas-tab1-tab"
          data-toggle="pill"
          href="#estadisticas-tab1"
          role="tab"
          aria-controls="estadisticas-tab1"
          aria-selected="true"
          @click="llenarDataTab1()"
        >Usuarios por pais</a>
        <a
          class="nav-link"
          id="estadisticas-tab2-tab"
          data-toggle="pill"
          href="#estadisticas-tab2"
          role="tab"
          aria-controls="estadisticas-tab2"
          aria-selected="false"
          @click="llenarDataTab2()"
        >Preferencias de curso de idioma</a>
        <a
          class="nav-link"
          id="estadisticas-tab3-tab"
          data-toggle="pill"
          href="#estadisticas-tab3"
          role="tab"
          aria-controls="estadisticas-tab3"
          aria-selected="false"
          @click="llenarDataTab3()"
        >Alumnos por vacante de estudio</a>
        <a
          class="nav-link"
          id="estadisticas-tab4-tab"
          data-toggle="pill"
          href="#estadisticas-tab4"
          role="tab"
          aria-controls="estadisticas-tab4"
          aria-selected="false"
          @click="llenarDataTab4()"
        >Rango de edad por especialidad medica</a>
        <a
          class="nav-link"
          id="estadisticas-tab5-tab"
          data-toggle="pill"
          href="#estadisticas-tab5"
          role="tab"
          aria-controls="estadisticas-tab5"
          aria-selected="false"
          @click="llenarDataTab5()"
        >Preferencias</a>
        <a
          class="nav-link"
          id="estadisticas-tab6-tab"
          data-toggle="pill"
          href="#estadisticas-tab6"
          role="tab"
          aria-controls="estadisticas-tab6"
          aria-selected="false"
          @click="llenarDataTab6()"
        >Preferencias programas</a>
      </div>
    </div>

    <div class="col-md-10 col-sm-6">
      <div class="tab-content" id="estadisticas-tabContent">
        <!-- TAB 1 -->
        <div
          class="tab-pane fade show active"
          id="estadisticas-tab1"
          role="tabpanel"
          aria-labelledby="estadisticas-tab1-tab"
        >
          <div class="row">
            <!-- FILTRO TAB 1 -->
            <div class="col-md-3 col-sm-6">
              <center>
                <h3>
                  <u>
                    <b>FILTROS</b>
                  </u>
                </h3>
              </center>
              <label for="tab1_filtro1">filtro1</label>
              <input type="text" class="form-control" id="tab1_filtro1" />
              <label for="tab1_filtro2">filtro2</label>
              <select class="form-control" id="tab1_filtro2">
                <option value>Elegir</option>
              </select>
            </div>
            <div class="col-md-9 col-sm-6">
              <pie-chart :chart-data="tab1" :height="259"></pie-chart>
            </div>
          </div>
        </div>
        <!-- TAB 1 -->
        <!-- =================================================================================================== -->
        <!-- TAB 2 -->
        <div
          class="tab-pane fade"
          id="estadisticas-tab2"
          role="tabpanel"
          aria-labelledby="estadisticas-tab2-tab"
        >
          <div class="row">
            <!-- FILTRO TAB 2 -->
            <div class="col-md-3 col-sm-6">
              <center>
                <h3>
                  <u>
                    <b>FILTROS</b>
                  </u>
                </h3>
              </center>
              <label for="tab_2filtro1">filtro1</label>
              <input type="text" class="form-control" id="tab2_filtro1" />
              <label for="tab_2filtro2">filtro2</label>
              <select class="form-control" id="tab2_filtro2">
                <option value>Elegir</option>
              </select>
            </div>
            <div class="col-md-9 col-sm-6">
              <doughnut-chart :chart-data="tab2" :height="259"></doughnut-chart>
            </div>
          </div>
        </div>
        <!-- TAB 2 -->
        <!-- =================================================================================================== -->
        <!-- TAB 3 -->
        <div
          class="tab-pane fade"
          id="estadisticas-tab3"
          role="tabpanel"
          aria-labelledby="estadisticas-tab3-tab"
        >
          <div class="row">
            <!-- FILTRO TAB 3 -->
            <div class="col-md-3 col-sm-6">
              <!-- filtro 1 -->
              <center>
                <h3>
                  <u>
                    <b>FILTROS</b>
                  </u>
                </h3>
              </center>
              <label for="tab3_filtro1">Idioma</label>
              <select
                class="form-control"
                id="tab3_filtro1"
                v-model="tab3_filtro1"
                @change="llenarDataTab3()"
              >
                <option value>Elegir</option>
                <option value="0">Ingles</option>
                <option value="1">Ruso</option>
                <option value="2">Quiere el curso de Ruso</option>
              </select>
              <!-- filtro 2 -->
              <label for="tab3_filtro2">filtro1</label>
              <input type="text" class="form-control" id="tab3_filtro2" v-model="tab3_filtro1" />
            </div>
            <div class="col-md-9 col-sm-6">
              <pie-chart :chart-data="tab3" :height="259"></pie-chart>
            </div>
          </div>
        </div>
        <!-- TAB 3 -->
        <!-- =================================================================================================== -->
        <!-- TAB 4 -->
        <div
          class="tab-pane fade"
          id="estadisticas-tab4"
          role="tabpanel"
          aria-labelledby="estadisticas-tab4-tab"
        >
          <div class="row">
            <!-- FILTRO TAB 4 -->
            <div class="col-md-3 col-sm-6">
              <center>
                <h3>
                  <u>
                    <b>FILTROS</b>
                  </u>
                </h3>
              </center>
              <label for="tab4_filtro1">filtro1</label>
              <input type="text" class="form-control" id="tab4_filtro1" />
              <label for="tab4_filtro2">filtro2</label>
              <select class="form-control" id="tab1_filtro2">
                <option value>Elegir</option>
              </select>
            </div>
            <div class="col-md-9 col-sm-6">
              <bar-chart :chart-data="tab4" :height="259"></bar-chart>
            </div>
          </div>
        </div>
        <!-- TAB 4 -->
        <!-- =================================================================================================== -->
        <!-- TAB 5 -->
        <div
          class="tab-pane fade"
          id="estadisticas-tab5"
          role="tabpanel"
          aria-labelledby="estadisticas-tab5-tab"
        >
          <div class="row">
            <!-- FILTRO TAB 4 -->
            <div class="col-md-3 col-sm-6">
              <center>
                <h3>
                  <u>
                    <b>FILTROS</b>
                  </u>
                </h3>
              </center>
              <label for="tab5_filtro1">Paises</label>
              <select
                class="form-control"
                id="tab5_filtro1"
                v-model="pais_selected"
                @change="llenarDataTab5()"
              >
                <option value>Elegir</option>
                <option
                  v-for="paises in paises_select"
                  :key="paises.pais_procedencia"
                  v-bind:value="paises.pais_procedencia"
                  v-text="paises.pais_procedencia"
                ></option>
              </select>
              <label for="tab5_filtro1">Tipo de estudio</label>
              <select
                class="form-control"
                id="tab5_filtro2"
                @change="change_tipo_estudio(),llenarDataTab5()"
                v-model="tipo_estudio_model"
              >
                <option value>Elegir</option>
                <option
                  v-for="tipo_estudio in tipo_estudio_select"
                  :key="tipo_estudio.id"
                  v-bind:value="tipo_estudio.id"
                  v-text="tipo_estudio.descripcion"
                ></option>
              </select>
              <div v-show="mostrar_rama">
                <label for="tab5_filtro1">Ramas</label>
                <select
                  class="form-control"
                  id="tab5_filtro2"
                  @change="change_rama()"
                  v-model="rama_model"
                >
                  <option value>Elegir</option>
                  <option
                    v-for="ramas in ramas_select"
                    :key="ramas.id"
                    v-bind:value="ramas.id"
                    v-text="ramas.descripcion"
                  ></option>
                </select>
              </div>
              <div v-show="mostrar_perfil">
                <label for>Perfiles</label>
                <select class="form-control" id="tab5_filtro2">
                  <option
                    v-for="perfiles in perfiles_select"
                    :key="perfiles.id"
                    v-bind:value="perfiles.id"
                    v-text="perfiles.descripcion"
                  ></option>
                </select>
              </div>
              <label for="tab5_filtro1">Ciudades</label>
              <select class="form-control" id="tab5_filtro2">
                <option value>Elegir</option>
                <option
                  v-for="ciudades in ciudades_select"
                  :key="ciudades.id"
                  v-bind:value="ciudades.id"
                  v-text="ciudades.nombre"
                ></option>
              </select>
            </div>
            <div class="col-md-9 col-sm-6">
              <pie-chart :chart-data="tab5" :height="259"></pie-chart>
            </div>
          </div>
        </div>
        <!-- TAB 5 -->
        <!-- =================================================================================================== -->
        <!-- TAB 6 -->
        <div
          class="tab-pane fade"
          id="estadisticas-tab6"
          role="tabpanel"
          aria-labelledby="estadisticas-tab6-tab"
        >
          <div class="row">
            <!-- FILTRO TAB 6 -->
            <div class="col-md-3 col-sm-6">
              <center>
                <h3>
                  <u>
                    <b>FILTROS</b>
                  </u>
                </h3>
              </center>
              <label for="tab5_filtro1">Paises</label>
              <select
                class="form-control"
                id="tab5_filtro1"
                v-model="pais_selected"
                @change="llenarDataTab6()"
              >
                <option value>Elegir</option>
                <option
                  v-for="paises in paises_select"
                  :key="paises.pais_procedencia"
                  v-bind:value="paises.pais_procedencia"
                  v-text="paises.pais_procedencia"
                ></option>
              </select>
              <label for="tab4_filtro2">Programas</label>
              <select
                class="form-control"
                id="tab1_filtro2"
                v-model="tab6_programa_selected"
                @change="llenarDataTab6()"
              >
                <option value>Elegir</option>
                <option
                  v-for="programas in tab6_select"
                  :key="programas.id_programa"
                  v-bind:value="programas.id_programa"
                  v-text="programas.label"
                ></option>
              </select>
            </div>
            <div class="col-md-9 col-sm-6">
              <pie-chart :chart-data="tab6" :height="259"></pie-chart>
            </div>
          </div>
        </div>
        <!-- TAB 6 -->
        <!-- =================================================================================================== -->
      </div>
    </div>
  </div>
  <!-- MODAL -->
</template>
<script>
import PieChart from "./PieChart.js";
import LineChart from "./LineChart.js";
import DoughnutChart from "./DoughnutChart.js";
import BarChart from "./BarChart.js";

export default {
  components: {
    PieChart,
    LineChart,
    DoughnutChart,
    BarChart
  },
  data() {
    return {
      // TAB 1
      tab1: null,
      tab1Dataset: [],
      tab1Labels: [],
      tab1Colors: [],
      //FILTROS TAB1

      // TAB 2
      tab2: null,
      tab2Dataset: [],
      tab2Labels: [
        "No elige",
        "Estudiará en inglés",
        "Ya dominan ruso",
        "Sí quieren el curso de ruso"
      ],
      tab2Colors: [],
      //FILTROS TAB2

      // TAB 3
      tab3: null,
      tab3Dataset: [],
      tab3Labels: [],
      tab3Colors: [],
      //FILTROS TAB3
      tab3_filtro1: "",

      // TAB 4
      tab4: null,
      //   tab4Dataset: [],
      //   tab4Labels: [],
      //   tab4Colors: []
      // TAB 5
      tab5: null,
      tab5Labels: [],
      tab5Dataset: [],
      tab5Colors: [],
      // TAB5 FILTROS
      tipo_estudio_select: [],
      ramas_select: [],
      ciudades_select: [],
      perfiles_select: [],
      paises_select: [],
      tipo_estudio_model: "",
      rama_model: "",
      mostrar_rama: false,
      mostrar_perfil: false,
      pais_selected: "",
      // TAB6
      tab6: null,
      tab6Labels: [],
      tab6Dataset: [],
      tab6Data_id_programa: [],
      tab6_select: [],
      tab6Colors: [],
      tab6_programa_selected: ""
    };
  },
  mounted() {
    this.llenarDataTab1();
  },
  methods: {
    getRandomColor() {
      var letters = "0123456789ABCDEF";
      var color = "#";
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    },
    change_tipo_estudio() {
      let me = this;
      let value = me.tipo_estudio_model;
      if (value == 1 || value == 2 || value == 4) {
        me.mostrar_rama = true;
      } else {
        me.mostrar_rama = false;
      }
    },
    change_rama() {
      let me = this;
      let rama = me.rama_model;
      if (rama !== 0) {
        me.mostrar_perfil = true;
        axios.get("/api/programaAll/" + rama).then(function(response) {
          me.mostrar_perfil = true;
          let respuesta = response.data;
          me.perfiles_select = respuesta;
          // console.log(respuesta);
        });
      } else {
        me.mostrar_perfil = false;
      }
    },
    llenarDataTab1() {
      let me = this;
      me.tab1 = null;
      me.tab1Dataset = [];
      me.tab1Labels = [];
      axios
        .get(
          "estadisticas_tab1"
          //   "https://www.universidades-rusia.com/zonaUsuario/estadisticas_tab1"
        )
        .then(function(response) {
          var respuesta = response.data;
          //   console.log(respuesta);
          if (respuesta.data.length == 0) {
            me.tab1 = {
              labels: ["No hay datos encontrados"],
              datasets: [
                {
                  // label: [
                  //   "Alumnos que aun no han elegido la opcion",
                  // ], // label del label
                  backgroundColor: ["#9c9c9c"],
                  data: [1]
                }
              ]
            };
          } else {
            respuesta.data.forEach(data => {
              me.tab1Dataset.push(data.contador_pais);
            });
            respuesta.paises.forEach(data => {
              me.tab1Labels.push(data);
              // me.tab1Colors.push(me.getRandomColor());
            });
            while (me.tab1Colors.length < respuesta.data.length) {
              me.tab1Colors.push(me.getRandomColor());
            }
            if (respuesta.sin_pais_registrado.length > 0) {
              me.tab1Labels.push("Sin pais registrado");
              me.tab1Dataset.push(respuesta.sin_pais_registrado.length);
              if (
                me.tab1Colors.length ==
                respuesta.sin_pais_registrado.length + respuesta.data.length
              ) {
              } else {
                me.tab1Colors.push("#9c9c9c");
              }
            }

            me.tab1 = {
              labels: me.tab1Labels,
              datasets: [
                {
                  backgroundColor: me.tab1Colors,
                  data: me.tab1Dataset
                }
              ]
            };
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    llenarDataTab2() {
      let me = this;
      me.tab2 = null;
      me.tab2Dataset = [];
      me.tab2Labels = [];
      me.tab2Labels = [
        "No elige",
        "Estudiará en inglés",
        "Ya dominan ruso",
        "Sí quieren el curso de ruso"
      ];

      axios
        .get(
          "estadisticas_tab2"
          //   "https://www.universidades-rusia.com/zonaUsuario/estadisticas_tab2"
        )
        .then(function(response) {
          var respuesta = response.data;
          //   console.log(respuesta);
          if (respuesta.data.length == 0) {
            me.tab2 = {
              labels: ["No hay datos encontrados"],
              datasets: [
                {
                  // label: [
                  //   "Alumnos que aun no han elegido la opcion",
                  // ], // label del label
                  backgroundColor: ["#9c9c9c"],
                  data: [1]
                }
              ]
            };
          } else {
            while (me.tab2Colors.length <= 4) {
              me.tab2Colors.push(me.getRandomColor());
            }
            me.tab2 = {
              labels: me.tab2Labels,
              datasets: [
                {
                  // label: [
                  //   "Alumnos que aun no han elegido la opcion",
                  // ], // label del label
                  backgroundColor: me.tab2Colors,
                  data: [
                    respuesta.contador3,
                    respuesta.contador0,
                    respuesta.contador1,
                    respuesta.contador2
                  ]
                }
              ]
            };
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    llenarDataTab3() {
      let me = this;
      me.tab3 = null;
      me.tab3Dataset = [];
      me.tab3Labels = [];
      axios
        .post(
          "estadisticas_tab3",
          // "https://www.universidades-rusia.com/zonaUsuario/estadisticas_tab3"
          { idioma: me.tab3_filtro1 }
        )
        .then(function(response) {
          var respuesta = response.data;
          //   console.log(respuesta);
          if (respuesta.data.length == 0) {
            me.tab3 = {
              labels: ["No hay datos encontrados"],
              datasets: [
                {
                  // label: [
                  //   "Alumnos que aun no han elegido la opcion",
                  // ], // label del label
                  backgroundColor: ["#9c9c9c"],
                  data: [1]
                }
              ]
            };
          } else {
            respuesta.data.forEach(data => {
              me.tab3Dataset.push(data.contador);
              if (data.vacante_estudio == null) {
                me.tab3Labels.push("No elige");
              } else {
                me.tab3Labels.push(data.vacante_estudio);
              }
            });
            while (me.tab3Colors.length < respuesta.data.length) {
              me.tab3Colors.push(me.getRandomColor());
            }
            me.tab3 = {
              labels: me.tab3Labels,
              datasets: [
                {
                  // label: [
                  //   "Alumnos que aun no han elegido la opcion",
                  // ], // label del label
                  backgroundColor: me.tab3Colors,
                  data: me.tab3Dataset
                }
              ]
            };
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    llenarDataTab4() {
      let me = this;
      axios
        .post(
          "estadisticas_tab4",
          // "https://www.universidades-rusia.com/zonaUsuario/estadisticas_tab4"
          { idioma: "" }
        )
        .then(function(response) {
          var respuesta = response.data.data;
          //   console.log(respuesta);
          me.tab4 = {
            labels: ["18 a 25 años", "26 a 35 años", "36 a más años"],
            //18-24
            datasets: [
              //ESPECIALIDAD MEDICA
              {
                label: ["Alumnos que escogieron Especialidad Médica"], // label del label
                backgroundColor: ["#00f7ff", "#00f7ff", "#00f7ff"],
                data: [
                  respuesta.em_18_25,
                  respuesta.em_26_35,
                  respuesta.em_35_mas
                ]
              },
              //CARRERAS
              {
                label: ["Alumnos que escogieron Carreras"], // label del label
                backgroundColor: ["#00ff23", "#00ff23", "#00ff23"],
                data: [respuesta.c_18_25, respuesta.c_26_35, respuesta.c_35_mas]
              }
            ]
          };
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    llenarDataTab5() {
      let me = this;
      me.tab5 = null;
      me.tab5Dataset = [];
      me.tab5Labels = [];
      axios
        .post(
          "estadisticas_tab5",
          // "https://www.universidades-rusia.com/zonaUsuario/estadisticas_tab5"
          { pais: me.pais_selected, tipo_estudio: me.tipo_estudio_model }
        )
        .then(function(response) {
          var respuesta = response.data;
          //LLENADO SELECTS FILTROS
          me.tipo_estudio_select = respuesta.tipo_estudio;
          me.ramas_select = respuesta.ramas;
          me.ciudades_select = respuesta.ciudades;
          me.paises_select = respuesta.paises;
          //LLENADO DATA DEL GRAFICO
          respuesta.data.forEach(element => {
            me.tab5Labels.push(element.label);
            me.tab5Dataset.push(element.contador);
          });
          while (me.tab5Colors.length < respuesta.data.length) {
            me.tab5Colors.push(me.getRandomColor());
          }
          me.tab5 = {
            labels: me.tab5Labels,
            datasets: [
              {
                label: ["Personas que esocogieron"], // label del label
                backgroundColor: me.tab5Colors,
                data: me.tab5Dataset
              }
            ]
          };
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    llenarDataTab6() {
      let me = this;
      me.tab6 = null;
      me.tab6Dataset = [];
      me.tab6Labels = [];
      axios
        .post(
          "estadisticas_tab6",
          // "https://www.universidades-rusia.com/zonaUsuario/estadisticas_tab6"
          { programa: me.tab6_programa_selected, pais: me.pais_selected }
        )
        .then(function(response) {
          var respuesta = response.data;
          //LLENADO SELECTS FILTROS
          me.tab6_select = respuesta.select;
          me.paises_select = respuesta.paises;
          //LLENADO DATA DEL GRAFICO
          respuesta.data.forEach(element => {
            me.tab6Labels.push(element.label);
            me.tab6Dataset.push(element.contador);
            me.tab6Data_id_programa.push(element.id_programa);
          });
          while (me.tab6Colors.length < respuesta.data.length) {
            me.tab6Colors.push(me.getRandomColor());
          }
          me.tab6 = {
            labels: me.tab6Labels,
            datasets: [
              {
                label: ["Personas que buscaron"], // label del label
                backgroundColor: me.tab6Colors,
                data: me.tab6Dataset
              }
            ]
          };
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
