<template>
  <div class="row row_idiomas" id="user_idiomas">
    <div class="msj row col-md-12" id="msj">
      <div class="col-md-2 col-sm-6 box-dato box-lenguage">
        <label class="label-input-format">Idiomas</label>
        <select class="form-control input-format marginb-24 lenguage" name="idioma[]">
          <option value>Elegir</option>
          <option value="1">Inglés</option>
          <option value="2">Alemán</option>
          <option value="3">Chino</option>
          <option value="4">Francés</option>
          <option value="5">Italiano</option>
          <option value="6">Portugués</option>
          <option value="7">Ruso</option>
        </select>
      </div>
      <div class="col-md-3 col-sm-6 box-dato">
        <label class="label-input-format">Hablado</label>
        <select class="form-control input-format marginb-24" name="hablado[]">
          <option value="1">Básico</option>
          <option value="2">Intermedio</option>
          <option value="3">Avanzado</option>
        </select>
      </div>
      <div class="col-md-3 col-sm-6 box-dato">
        <label class="label-input-format">Escrito</label>
        <select class="form-control input-format marginb-24" name="escrito[]">
          <option value="1">Básico</option>
          <option value="2">Intermedio</option>
          <option value="3">Avanzado</option>
        </select>
      </div>
      <div class="col-md-3 col-sm-6 box-dato">
        <label class="label-input-format">Lectura</label>
        <select class="form-control input-format marginb-24" name="lectura[]">
          <option value="1">Básico</option>
          <option value="2">Intermedio</option>
          <option value="3">Avanzado</option>
        </select>
      </div>
      <div class="btn-delete col-md-1">
        <button class="btn btn-danger deleteLenguage">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {}
};
</script>
