<template>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown show">
      <a
        class="nav-link"
        data-toggle="dropdown"
        href="#"
        aria-expanded="true"
        @click="getNotificaciones()"
      >
        <i class="far fa-comments"></i>
        <span class="badge badge-warning navbar-badge">{{count_notificaciones}}</span>
      </a>
      <div
        class="dropdown-menu dropdown-menu-lg dropdown-menu-right animated slideInDown overflow-auto div_notificaciones"
        style="max-height: 36vh; min-width:45vh"
        id="notificaciones"
      >
        <div v-if="arrayNotificaciones.length > 0">
          <div v-for="(notificacion, key) in arrayNotificaciones" :key="notificacion.id">
            <a href="#" class="dropdown-item">
              <div class="media">
                <div class="media-body">
                  <a href="#" class="dropdown-item" @click="verRazon(notificacion.id)">
                    <div class="media">
                      <img
                        :src="'/miniatura/'+notificacion.user1+'.jpg'"
                        class="img-size-50 mr-3 img-circle"
                      />
                      <div class="media-body">
                        <h3
                          :class="['dropdown-item-title', notificacion.user1 == '1' ? 'text-danger' :'']"
                        >{{notificacion.name}} {{notificacion.lastname}}</h3>

                        <p class="text-sm">
                          {{notificacion.razon_constancia}},
                          <small
                            class="badge badge-primary"
                            v-if="notificacion.user1 == '1'"
                          >
                            <i class="fas fa-search-plus"></i> Ver más
                          </small>
                        </p>
                        <p class="text-sm text-muted">
                          <i class="far fa-clock mr-1"></i>
                          {{arrayTimeAgo[key]}}
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </a>
            <div class="dropdown-divider"></div>
          </div>
          <!--  -->
        </div>
        <div v-else>
          <a href="#" class="dropdown-item" id="a_1">
            <div class="media">
              <div class="media-body text-center">
                <h3
                  class="dropdown-item-title"
                  style="font-style: oblique;"
                >--- Sin notificaciones ---</h3>
              </div>
            </div>
          </a>
          <div class="dropdown-divider"></div>
        </div>

        <!--  -->
      </div>

      <!--  -->
    </li>
  </ul>
</template>

<script>
export default {
  props: ["id_user"],
  created() {
    Echo.private("updateDoc." + this.id_user).listen(
      "UpdateDocNotifications",
      e => {
        this.getNotificaciones();
      }
    );
  },
  mounted() {
    this.getNotificaciones();
  },
  data() {
    return {
      arrayNotificaciones: [],
      arrayTimeAgo: [],
      count_notificaciones: ""
    };
  },
  methods: {
    getNotificaciones() {
      let me = this;
      axios
        .get("getNotificaciones")

        .then(function(response) {
          var respuesta = response.data;
          me.arrayNotificaciones = respuesta.notificaciones;
          me.arrayTimeAgo = respuesta.time_ago;
          me.count_notificaciones = me.arrayNotificaciones.length;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    verRazon(id) {
      if (this.id_user == 1) {
        return;
      }
      let me = this;
      axios
        .post(
          "getRazon",

          { id: id }
        )
        .then(function(response) {
          var respuesta = response.data;
          if (respuesta[0].tipo == "rechazo") {
            console.log("hola");
            Swal.fire(
              respuesta[0].razon_constancia,
              respuesta[0].razon2,
              "warning"
            );
          } else if (respuesta[0].tipo == "aprobado") {
            console.log("hola2");

            Swal.fire(
              respuesta[0].razon_constancia,
              respuesta[0].razon2,
              "success"
            );
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
