<template>
  <b-container fluid class="pr-4 pl-4 pt-4">
    <b-card style="font-size:20px;">Listado de programas</b-card>
    <!-- FILTROS -->
    <b-row class="fluid">
      <b-col lg="4" sm="12" md="4" class="float-left">
        <b-button variant="primary" size="md" @click="add_programa()">
          <i class="fas fa-folder-plus"></i> Agregar Programa
        </b-button>
      </b-col>
      <b-col lg="4" sm="12" md="4" class="my-1">
        <b-form-group
          label="Filtrar"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Escriba para filtrar"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">
                <i class="fas fa-trash-alt"></i> Limpiar Filtro
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col sm="12" md="4" lg="4" class="my-1">
        <b-form-group
          label="Mostrar"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
        </b-form-group>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table
      show-empty
      small
      stacked="true"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      class="mt-3"
      foot-clone
      :busy="isBusy"
    >
      <template v-slot:table-busy>
        <div class="text-center text-muted my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Cargando datos ...</strong>
        </div>
      </template>

      <template v-slot:cell(actions)="row">
        <b-button
          size="sm"
          @click="info(row.item, row.index, $event.target)"
          class="mr-1"
          variant="info"
        >
          <i class="fas fa-edit"></i>
        </b-button>

        <b-button size="sm" @click="eliminar_programa(row.item)" class="mr-1" variant="danger">
          <i class="fas fa-times-circle"></i>
        </b-button>
      </template>
      <template v-slot:cell(codigo)="row">{{ row.item.codigo }}</template>
      <template v-slot:cell(descripcion)="row">{{ row.item.descripcion }}</template>
      <template v-slot:cell(iduniversidad)="row">{{ row.item.iduniversidad }}</template>
      <template v-slot:cell(duracion)="row">{{ row.item.duracion }}</template>
      <template v-slot:cell(idtipoestudio)="row">{{ row.item.idtipoestudio }}</template>
      <template v-slot:cell(rama)="row">{{ row.item.rama }}</template>
      <template v-slot:cell(perfil)="row">{{ row.item.perfil }}</template>
      <template v-slot:cell(beca)="row">{{ row.item.beca }}</template>
      <template v-slot:cell(estado)="row">{{ row.item.estado }}</template>
      <template v-slot:cell(idioma)="row">{{ row.item.idioma }}</template>
    </b-table>

    <b-col sm="12" md="12" lg="6" class="my-1 pb-3 container">
      <b-pagination
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="fill"
        size="sm"
        class="my-0"
      ></b-pagination>
    </b-col>

    <!-- MODAL EDITAR PROGRAMA -->
    <b-modal
      :ref="infoModal.id"
      hide-footer
      :id="infoModal.id"
      :title="infoModal.title"
      :header-bg-variant="headerBgVariant"
    >
      <!-- <p>{{infoModal.content}}</p> -->
      <b-container fluid>
        <b-row class="my-1">
          <b-col sm="2">
            <label for="input-default">Programa:</label>
          </b-col>
          <b-col sm="10">
            <b-form-input
              id="input-default"
              v-model="infoModal.content.descripcion"
              autocomplete="off"
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2">
            <label for="input-default">Código:</label>
          </b-col>
          <b-col sm="10">
            <b-form-input id="input-default" v-model="infoModal.content.codigo" autocomplete="off"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2">
            <label for="input-default">Duración:</label>
          </b-col>
          <b-col sm="10">
            <b-form-input
              id="input-default"
              v-model="infoModal.content.duracion"
              autocomplete="off"
            ></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2">
            <label for="input-default">Tipo de Estudio:</label>
          </b-col>
          <b-col sm="10">
            <b-form-select
              :options="options_select_tipo_estudio"
              v-model="infoModal.content.id_tipo_estudio"
              text-field="text"
              value-field="id"
            ></b-form-select>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2">
            <label for="input-default">Rama:</label>
          </b-col>
          <b-col sm="10">
            <b-form-select
              :options="options_select_rama"
              v-model="infoModal.content.id_rama"
              text-field="text"
              value-field="id"
            ></b-form-select>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2">
            <label for="input-default">Perfil:</label>
          </b-col>
          <b-col sm="10">
            <b-form-select
              :options="options_select_perfil"
              v-model="infoModal.content.id_perfil"
              text-field="text"
              value-field="id"
            ></b-form-select>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2">
            <label for="input-default">Universidad:</label>
          </b-col>
          <b-col sm="10">
            <b-form-select
              :options="options_select_universidad"
              v-model="infoModal.content.id_universidad"
              text-field="text"
              value-field="id"
            ></b-form-select>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2">
            <label for="input-default">Beca:</label>
          </b-col>
          <b-col sm="10">
            <b-form-select :options="['Si', 'No']" v-model="infoModal.content.beca"></b-form-select>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2">
            <label for="input-default">Estado:</label>
          </b-col>
          <b-col sm="10">
            <b-form-select
              :options="options_select_estado"
              v-model="infoModal.content.estado_inscrip"
            ></b-form-select>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2">
            <label for="input-default">Idioma:</label>
          </b-col>
          <b-col sm="10">
            <b-form-select
              :options="options_select_idioma"
              v-model="infoModal.content.id_idioma"
              text-field="text"
              value-field="id"
            ></b-form-select>
          </b-col>
        </b-row>
        <b-row class="my-3 float-right">
          <b-button pill variant="outline-secondary" @click="hideModal">Cancelar</b-button>
          <b-button pill variant="success" class="ml-2" @click="editarPrograma">Guardar</b-button>
        </b-row>
      </b-container>
    </b-modal>
    <!-- MODAL CREAR PROGRAMA -->
    <b-modal
      ref="add_programa"
      hide-footer
      title="Agregar Programa"
      :header-bg-variant="headerBgVariant"
    >
      <b-form @submit="agregarPrograma">
        <b-container fluid>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Programa:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                v-model="new_programa.programa"
                required
                autocomplete="off"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Código:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                v-model="new_programa.codigo"
                required
                autocomplete="off"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Duración:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                v-model="new_programa.duracion"
                required
                autocomplete="off"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Tipo de Estudio:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                :options="options_select_tipo_estudio"
                v-model="new_programa.tipo_estudio"
                text-field="text"
                value-field="id"
                required
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Rama:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                :options="options_select_rama"
                v-model="new_programa.rama"
                text-field="text"
                value-field="id"
                required
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Perfil:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                :options="options_select_perfil"
                v-model="new_programa.perfil"
                text-field="text"
                value-field="id"
                required
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Universidad:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                :options="options_select_universidad"
                v-model="new_programa.universidad"
                text-field="text"
                value-field="id"
                required
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Beca:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                :options="add_options_select_beca"
                v-model="new_programa.beca"
                required
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Estado:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                :options="options_select_estado"
                v-model="new_programa.estado"
                required
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Idioma:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                :options="options_select_idioma"
                v-model="new_programa.idioma"
                text-field="text"
                value-field="id"
                required
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-3 float-right">
            <b-button pill variant="outline-secondary" @click="hideModal_addPrograma">Cancelar</b-button>
            <b-button pill variant="success" class="ml-2" type="submit">Agregar</b-button>
          </b-row>
        </b-container>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      new_programa: {
        programa: "",
        codigo: "",
        duracion: "",
        carrera: "",
        tipo_estudio: "",
        rama: "",
        perfil: "",
        universidad: "",
        beca: "",
        estado: "",
        idioma: ""
      },
      headerBgVariant: "info",
      options_select_tipo_estudio: [],
      options_select_rama: [],
      options_select_perfil: [],
      options_select_universidad: [],
      options_select_idioma: [],
      options_select_estado: [
        { value: "", text: "Seleccione" },
        { value: 1, text: "Abierto" },
        { value: 0, text: "Cerrado" }
      ],
      add_options_select_beca: [
        { value: "", text: "Seleccione" },
        { value: "Si", text: "Si" },
        { value: "No", text: "No" }
      ],
      isBusy: true,
      items: [],
      fields: [
        { key: "actions", label: "Acciones", thStyle: "width: 7%" },
        {
          key: "codigo",
          label: "Código",
          sortable: true,
          sortDirection: "desc",
          thStyle: "width: 5%"
        },
        {
          key: "descripcion",
          label: "Programa",
          sortable: true,
          sortDirection: "desc",
          thStyle: "width: 18%"
        },
        {
          key: "universidad",
          label: "Universidad",
          sortable: true,
          sortDirection: "desc",
          thStyle: "width: 15%"
        },
        {
          key: "duracion",
          label: "Duración",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "tipo_estudio",
          label: "Tipo de Estudio",
          sortable: true,
          sortDirection: "desc",
          thStyle: "width: 10%"
        },
        {
          key: "rama",
          label: "Rama",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "perfil",
          label: "Perfil",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "beca",
          label: "Beca",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "estado_inscrip",
          label: "Estado",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "idioma",
          label: "Idioma",
          sortable: true,
          sortDirection: "desc"
        }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15, 20],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      },
      delete_id_programa: ""
    };
  },
  computed: {},
  mounted() {
    this.listarProgramas();
    setTimeout(() => {
      this.isBusy = false;
    }, 1500);
    this.listarSelects();
  },
  methods: {
    recargarData() {
      this.isBusy = true;
      this.listarProgramas();
      setTimeout(() => {
        this.isBusy = false;
      }, 1500);
    },
    editarPrograma() {
      axios
        .put("api/getprogramas_admin/" + this.infoModal.content.id, {
          data: this.infoModal.content
        })
        .then(response => {
          this.$nextTick(() => {
            this.$bvModal.hide(this.infoModal.id);
          });
          this.recargarData();
        });
    },
    info(item, index, button) {
      this.infoModal.title = item.descripcion;
      this.infoModal.content = item;
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },
    onFiltered(filteredItems) {
      //   Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    listarProgramas() {
      axios
        .get("api/getprogramas_admin")
        .then(response => {
          let respuesta = response.data;
          //   console.log(respuesta.data);
          this.items = respuesta.data;
          this.totalRows = this.items.length;
        })
        .catch(e => {
          console.log("error" + e);
        });
    },
    listarSelects() {
      axios
        .get("api/selectsProgramasAdmin")
        .then(response => {
          let respuesta = response.data;
          //   console.log(respuesta.tipo_estudio);
          this.options_select_tipo_estudio = respuesta.tipo_estudio;
          this.options_select_rama = respuesta.rama;
          this.options_select_perfil = respuesta.perfil;
          this.options_select_universidad = respuesta.universidad;
          this.options_select_idioma = respuesta.idioma;
        })
        .catch(e => {
          console.log("error" + e);
        });
    },
    showModal() {
      this.$refs[this.infoModal.id].show();
    },
    hideModal() {
      this.recargarData();
      this.$refs[this.infoModal.id].hide();
    },
    hideModal_addPrograma() {
      this.$refs["add_programa"].hide();
      this.new_programa = {
        programa: "",
        codigo: "",
        duracion: "",
        carrera: "",
        tipo_estudio: "",
        rama: "",
        perfil: "",
        universidad: "",
        beca: "",
        estado: "",
        idioma: ""
      };
    },
    eliminar_programa(item) {
      this.delete_id_programa = item.id;
      this.boxTwo = "";
      this.$bvModal
        .msgBoxConfirm(
          "¿Está seguro de eliminar permamentemente este programa?",
          {
            title: "Confirmación de eliminación",
            size: "sm",
            buttonSize: "sm",
            okVariant: "danger",
            okTitle: "Si",
            cancelTitle: "No",
            footerClass: "p-2",
            hideHeaderClose: false,
            centered: true,
            headerClass: "bg-danger"
          }
        )
        .then(value => {
          console.log(value);
          if (value) {
            axios
              .delete("api/getprogramas_admin/" + this.delete_id_programa)
              .then(response => {
                console.log("programa eliminado");
                this.isBusy = true;
                this.items = [];
                this.totalRows = 1;
                this.listarProgramas();
                setTimeout(() => {
                  this.isBusy = false;
                }, 1500);
                this.hideModal();
              })
              .catch(e => {
                console.log("error" + e);
              });
          } else {
            this.hideModal();
          }
        })
        .catch(err => {
          console.log("error" + err);
        });
    },
    add_programa() {
      this.$refs["add_programa"].show();
    },
    agregarPrograma(evt) {
      evt.preventDefault();
      axios
        .post("api/getprogramas_admin", {
          data: this.new_programa
        })
        .then(response => {
          this.hideModal_addPrograma();
          this.recargarData();
        });
    }
  }
};
</script>
