<template>
  <div>
    <div class="pr-4 pl-4 pt-4 container-fluid">
      <div class="card text-center">
        <div class="card-body" style="font-size: 20px;">
          <h4 class="card-title">Subida Masiva de Programas y Costos</h4>
          <div>
            <b-button variant="outline-primary" @click="descargar_plantilla()">Descargar plantilla</b-button>
            <b-button variant="outline-primary" v-show="errores_subida.length>0" @click="modal_error=true">Ver ultimos errores</b-button>
          </div>
        </div>
      </div>
    </div>
    <div class="pr-4 pl-4 pt-4 container">
      <b-form @submit="agregarUniversidad">
        <b-col>
          <b-row>
            <p class="text-center">Seleccione Universidad</p>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Universidad:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                :options="options_select_universidad"
                value-field="id"
                text-field="text"
                v-model="subida_masiva_opts.universidad"
                required
              ></b-form-select>
            </b-col>
          </b-row>
        </b-col>
        <b-col>
          <b-row>
            <p class="text-center">Seleccione Divisa</p>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Divisa:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                :options="options_select_divisa"
                v-model="subida_masiva_opts.divisa"
                required
              ></b-form-select>
            </b-col>
          </b-row>
        </b-col>
        <b-col>
          <b-row>
            <p class="text-center">Suba el archivo</p>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Archivos:</label>
            </b-col>
            <b-col sm="10">
              <!-- Styled -->
              <!-- <b-form-file accept=".xls,.xslx,.csv,.xlsm,.xlsb"></b-form-file> -->
              <input
                type="file"
                name="file_excel"
                @change="validarArchivo"
                accept=".xls, .xslx, .csv, .xlsm, .xlsb"
              />
            </b-col>
          </b-row>
        </b-col>
        <b-col class="m-5 text-center">
          <b-button type="submit">Subir Archivo</b-button>
        </b-col>
      </b-form>
    </div>
    <div>
      <b-progress :value="progress_value" variant="success" striped></b-progress>
    </div>
    <!-- MODAL -->
    <div>
        <b-modal v-model="modalShow" title="BootstrapVue" style="color:black" no-close-on-esc no-close-on-backdrop hide-header-close>
            <p class="my-4">Subiendo Archivo</p>
            <div>
                SUBIENDO....
                <!-- <b-progress :value="25" variant="success" striped :animated="animate"></b-progress> -->
            </div>
            <div slot="modal-footer">
            </div>
        </b-modal>
    </div>
    <!-- ELIMINACION MASIVA -->
    <div class="pr-4 pl-4 pt-4 container-fluid">
      <div class="card text-center">
        <div class="card-body" style="font-size: 20px;">
          <h4 class="card-title">Eliminación masiva</h4>
        </div>
      </div>
      <div class="pr-4 pl-4 pt-4 container">
        <b-form @submit.prevent="eliminar_programas">
          <b-col>
            <b-row>
              <p class="text-center">Seleccione Universidad</p>
            </b-row>
            <b-row class="my-1">
              <b-col sm="2">
                <label for="input-default">Universidad:</label>
              </b-col>
              <b-col sm="10">
                <b-form-select
                  :options="options_select_universidad"
                  value-field="id"
                  text-field="text"
                  v-model="eliminacion_masiva_opts.universidad"
                  required
                ></b-form-select>
              </b-col>
            </b-row>
          </b-col>
          <b-col class="m-5 text-center">
            <b-button type="submit" class="mb-3">Eliminar programas</b-button>
          </b-col>
        </b-form>
      </div>
    </div>
    <!-- Modal de errores -->
    <div>
      <b-modal v-model="modal_error" title="El excel contiene los siguientes errores" style="color:black !important" >
        <div v-for="error in errores_subida" :key="error">
          <p v-text="error"></p>
        </div>
        <div>
          <p style="color:red !important">Los programas con errores no se han subido, porfavor corregir y volver a subir</p>
        </div>
        <div slot="modal-footer">
        </div>
      </b-modal>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      subida_masiva_opts: {
        universidad: "",
        divisa: ""
      },
      file_archivo: "",
      options_select_universidad: [],
      options_select_divisa: [
        { value: "", text: "Eligir divisa" },
        { value: "RUB", text: "Rublos" },
        { value: "USD", text: "Dolares" }
      ],
      progress_value: 0,
      modalShow:false,
      eliminacion_masiva_opts:{
        universidad:'',
      },
      modal_error:false,
      errores_subida:[],
    };
  },
  mounted() {
    this.listarSelects();
  },
  methods: {
    listarSelects() {
      axios
        .get("api/selectsProgramasAdmin")
        .then(response => {
          let respuesta = response.data;
          this.options_select_universidad = respuesta.universidad;
        })
        .catch(e => {
          console.log("error" + e);
        });
    },
    validarArchivo(e) {
      let me = this;
      let fileReader = new FileReader();
      fileReader.readAsDataURL(e.target.files[0]);
      fileReader.onload = e => {
        me.file_archivo = e.target.result;
        // console.log(e.target.result);
      };
    },
    agregarUniversidad(evt) {
    this.modalShow=true;
      let formData = new FormData();
      formData.append("file_excel", this.file_archivo);
      formData.append("content", JSON.stringify(this.subida_masiva_opts));
      evt.preventDefault();
      axios
        .post("carga_masiva", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          },
        })
        .then(response => {
            this.errores_subida=[];
            if(response.data.data.length==0){
              Swal.fire({
                icon: 'success',
                title: 'Todos los programas han sido subidos exitosamente',
                showCancelButton: false,
                showConfirmButton: true
              });
            }else{
              this.modal_error=true;
              this.errores_subida=response.data.data;
            console.log(this.errores_subida.length );
            }
            this.modalShow=false;
            this.subida_masiva_opts.universidad='';
            this.subida_masiva_opts.divisa='';
            this.file_archivo='';
        }).catch(e => {
          console.log("error" + e);
        });
    },descargar_plantilla(){
      window.open('descargar_plantilla');
    },eliminar_programas() {
      var _this3 = this;
      var _Swal$fire = Swal.fire({
        title: 'Digite su año de nacimiento',
        input: 'text',
        inputPlaceholder: 'Digite su respuesta',
        inputValidator: function inputValidator(value) {
          return new Promise(function (resolve) {
            if (value === '1997') {
              Swal.fire({
                icon: 'warning',
                title: 'Los programas estan siendo eliminados',
                showCancelButton: false,
                allowEscapeKey: false,
                allowOutsideClick: false,
                showConfirmButton: false
              });
              axios.post("delete_masivo", _this3.eliminacion_masiva_opts).then(function (response) {
                Swal.close();
                if (response.data == 'ok') {
                  Swal.fire({
                    icon: 'success',
                    title: 'Los programas han sido eliminado exitosamente',
                    showCancelButton: false,
                    showConfirmButton: true
                  });
                } else {
                  Swal.fire({
                    icon: 'error',
                    title: 'Los programas no han podido ser eliminados',
                    showCancelButton: false,
                    showConfirmButton: true
                  });
                }
              })["catch"](function (e) {
                console.log("error" + e);
              });
            } else {
              resolve('Incorrecto');
            }
          });
        }
      })
    }
  }
};
</script>
<style>
.modal-title {
  color: black !important;
}
</style>
