<template>
  <b-container fluid class="pr-4 pl-4 pt-4">
    <b-card style="font-size:20px;">Listado de universidades</b-card>
    <!-- FILTROS -->
    <b-row class="fluid">
      <b-col lg="4" sm="12" md="4" class="float-left">
        <b-button variant="light" size="md" @click="abrir_add_universidad()">
          <i class="far fa-plus-square" style="color: blue"></i>&nbsp;Agregar Universidad
        </b-button>
      </b-col>
      <b-col lg="4" sm="12" md="4" class="my-1">
        <b-form-group
          label="Filtrar"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Escriba para filtrar"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">
                <i class="fas fa-trash-alt"></i> Limpiar Filtro
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col sm="12" md="4" lg="4" class="my-1">
        <b-form-group
          label="Mostrar"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
        </b-form-group>
      </b-col>
    </b-row>
    <!-- Main table element -->
    <b-table
      show-empty
      small
      stacked="md"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      class="mt-3"
      @filtered="onFiltered"
      foot-clone
      :busy="isBusy"
    >
      <template v-slot:table-busy>
        <div class="text-center text-muted my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Cargando datos ...</strong>
        </div>
      </template>

      <template v-slot:cell(actions)="row">
        <b-button size="sm" @click="abrir_editar_universidad(row.item)" class="mr-1" variant="info">
          <i class="fas fa-edit"></i>
        </b-button>
        <b-button size="sm" @click="eliminar_universidad(row.item)" class="mr-1" variant="danger">
          <i class="fas fa-times-circle"></i>
        </b-button>
      </template>

      <template v-slot:cell(nomImage)="row">
        <b-img-lazy :src="row.item.nomImage" width="150"></b-img-lazy>
      </template>
    </b-table>
    <b-col sm="12" md="12" lg="6" class="my-1 pb-3 container">
      <b-pagination
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="fill"
        size="sm"
        class="my-0"
      ></b-pagination>
    </b-col>

    <!-- MODAL CREAR PROGRAMA -->
    <b-modal ref="add_universidad" hide-footer title="Agregar Universidad" header-bg-variant="info">
      <b-form @submit="agregarUniversidad">
        <b-container fluid>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Universidad:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                v-model="new_universidad.universidad"
                required
                autocomplete="off"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Abreviatura:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                v-model="new_universidad.abrev"
                required
                autocomplete="off"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Url:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                v-model="new_universidad.url"
                required
                autocomplete="off"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Ciudad:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                :options="select_ciudades"
                v-model="new_universidad.ciudad"
                text-field="text"
                value-field="id"
                required
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Estado:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                :options="options_select_estado"
                v-model="new_universidad.estado"
                required
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Logo:</label>
            </b-col>
            <b-col sm="10">
              <!-- Styled -->
              <input type="file" @change="validarImagen" />
            </b-col>
          </b-row>
          <b-row class="my-3 float-right">
            <b-button pill variant="outline-secondary" @click="hideModal_addUniversidad">Cancelar</b-button>
            <b-button pill variant="success" class="ml-2" type="submit">Agregar</b-button>
          </b-row>
        </b-container>
      </b-form>
    </b-modal>

    <!-- MODAL EDITAr PROGRAMA -->
    <b-modal ref="edit_universidad" hide-footer :title="infoModal.title" header-bg-variant="info">
      <b-form @submit="editarUniversidad">
        <b-container fluid>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Universidad:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                v-model="infoModal.content.nombre"
                required
                autocomplete="off"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Abreviatura:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                v-model="infoModal.content.abrev"
                required
                autocomplete="off"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Url:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input
                id="input-default"
                v-model="infoModal.content.url"
                required
                autocomplete="off"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Ciudad:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                :options="select_ciudades"
                v-model="infoModal.content.idciudad"
                text-field="text"
                value-field="id"
                required
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Estado:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                :options="options_select_estado"
                v-model="infoModal.content.estado"
                required
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="2">
              <label for="input-default">Logo:</label>
            </b-col>
            <b-col sm="10">
              <!-- Styled -->
              <input type="file" @change="validarImagenEdit" class="form-control" />
            </b-col>
          </b-row>
          <b-row class="my-3 float-right">
            <b-button pill variant="outline-secondary" @click="hideModal_editUniversidad">Cancelar</b-button>
            <b-button pill variant="success" class="ml-2" type="submit">Actualizar Datos</b-button>
          </b-row>
        </b-container>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      mainProps: {
        center: true,
        fluidGrow: true,
        blank: true,
        blankColor: "#bbb",
        width: 600,
        height: 400,
        class: "my-5"
      },
      options_select_estado: [
        { value: "", text: "Seleccione" },
        { value: 1, text: "Abierto" },
        { value: 0, text: "Cerrado" }
      ],
      select_ciudades: [],
      new_universidad: {
        universidad: "",
        abrev: "",
        url: "",
        ciudad: "",
        estado: "",
        logo: "",
        contador: 1
      },
      edit_universidad: {
        universidad: "",
        abrev: "",
        url: "",
        ciudad: "",
        estado: "",
        logo: ""
      },
      items: [],
      id_model_modal: "",
      nombre_model_modal: "",
      telegram_model_modal: "",
      isBusy: true,
      fields: [
        { key: "actions", label: "Acciones", thStyle: "width: 10%" },
        {
          key: "estado",
          label: "Estado",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "nombre",
          label: "Nombre",
          sortable: true,
          class: "text-center",
          thStyle: "width: 25%"
        },
        {
          key: "abrev",
          label: "Abreviatura",
          sortable: true,
          class: "text-center"
        },
        {
          key: "ciudad",
          label: "Ciudad",
          sortable: true,
          class: "text-center"
        },
        {
          key: "url",
          label: "URL",
          sortable: true,
          class: "text-center",
          thStyle: "width: 20%"
        },
        {
          key: "nomImage",
          label: "Logo",
          sortable: true,
          class: "text-center"
        }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15, 20],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {},
  mounted() {
    this.listarUniversidades();
    setTimeout(() => {
      this.isBusy = false;
    }, 1500);
  },
  methods: {
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = item;
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    listarUniversidades() {
      axios
        .get("api/admin_universidades")
        .then(response => {
          let respuesta = response.data;
          this.items = respuesta.data;
          this.select_ciudades = respuesta.ciudad;
          this.totalRows = this.items.length;
        })
        .catch(e => {
          console.log("error" + e);
        });
    },
    abrir_add_universidad() {
      this.$refs["add_universidad"].show();
    },
    agregarUniversidad(evt) {
      evt.preventDefault();
      axios
        .post("api/admin_universidades", {
          data: this.new_universidad
        })
        .then(response => {
          this.hideModal_addUniversidad();
          this.recargarData();
        });
    },
    hideModal_addUniversidad() {
      this.$refs["add_universidad"].hide();
      this.new_universidad = {
        universidad: "",
        abrev: "",
        url: "",
        ciudad: "",
        estado: "",
        logo: ""
      };
    },
    hideModal_editUniversidad() {
      this.recargarData();
      setTimeout(() => {
        this.$refs["edit_universidad"].hide();
        this.edit_universidad = {
          universidad: "",
          abrev: "",
          url: "",
          ciudad: "",
          estado: "",
          logo: ""
        };
      }, 500);
    },
    recargarData() {
      this.isBusy = true;
      this.listarUniversidades();
      setTimeout(() => {
        this.isBusy = false;
      }, 1500);
    },
    validarImagen(e) {
      let fileReader = new FileReader();
      fileReader.readAsDataURL(e.target.files[0]);
      fileReader.onload = e => {
        this.new_universidad.logo = e.target.result;
      };
    },
    validarImagenEdit(e) {
      let fileReader = new FileReader();
      fileReader.readAsDataURL(e.target.files[0]);
      fileReader.onload = e => {
        this.edit_universidad.logo = e.target.result;
      };
    },
    abrir_editar_universidad(item) {
      this.infoModal.title = `Editar: ${item.nombre}`;
      this.infoModal.content = item;
      this.$refs["edit_universidad"].show();
    },
    editarUniversidad() {
      axios
        .put("api/admin_universidades/" + this.infoModal.content.id, {
          data: this.infoModal.content,
          logo: this.edit_universidad.logo
        })
        .then(response => {
          this.hideModal_editUniversidad();
          this.recargarData();
        });
    },
    eliminar_universidad(item) {
      this.boxTwo = "";
      this.$bvModal
        .msgBoxConfirm(
          "¿Está seguro de eliminar permamentemente esta universidad?",
          {
            title: "Confirmación de eliminación",
            size: "sm",
            buttonSize: "sm",
            okVariant: "danger",
            okTitle: "Si, eliminar",
            cancelTitle: "Cancelar",
            footerClass: "p-2",
            hideHeaderClose: false,
            centered: true,
            headerClass: "bg-danger"
          }
        )
        .then(value => {
          if (value) {
            axios
              .delete("api/admin_universidades/" + item.id)
              .then(response => {
                this.recargarData();
              })
              .catch(e => {
                console.log("error" + e);
              });
          } else {
            // this.hideModal();
          }
        })
        .catch(err => {
          console.log("error" + err);
        });
    }
  }
};
</script>
